<nav class="navbar navbar-dark navbar-custom navbar-expand-sm fixed-top" style="background-color:#2AB967;height:80px">
        <div class="container-fluid">
          <a href="" class="nav-link"><i class="fa fa-arrow-circle-left fa-2x" style="color:antiquewhite"></i></a>
          <a href="" class="navbar-brand" style="font-size:55px;"><div>Beta</div></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#me">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse offset-4" id="me"></div>
          </div>
      </nav>

