
  /* .grid-container {  
    margin: 20px;  
  }  
  .dashboard-card {  
    position: absolute;  
    top: 15px;  
    left: 15px;  
    right: 15px;  
    bottom: 15px;  
  }  
  .more-button {  
    position: absolute;  
    top: 5px;  
    right: 10px;  
  }  
  .dashboard-card-content {  
    text-align: center;  
  } 

  .example-container {
    width: 250px;
    height: 520px;
    background-color: aqua; */
    /* border: 1px solid rgba(0, 0, 0, 0.5); */
    /* box-shadow: 0 0 10px #ccc;
			border-radius: 10px;
			display: flex; */
    
  
  /* }
   .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    
  }
  
  .example-sidenav {
    padding: 20px;
    color: brown;
  }
  .expand{
    width: 16%;
  }
  p i a:hover{
    text-decoration: none;
    color: black;
  } 
  body{
    background-color: aqua;
  } */
  
  h2{
    color:black;
    font-size: 30px;
    font-weight: bold;
  }
  .beta{
    background-color:#F5F5F5;
    color: aliceblue;
  }
  .beta1{
    background-color: #2AB967;
    font-weight: bold;
    color: aliceblue; 
  }
  .sidenav-container{
    height: 100%;
  }

  .sidenav{
    width:290px;
    box-shadow: 3px 0 6px rgba(0,0,0,.24); 
  }
  .rounded-circle{
    height: 50px;
  }
  .mat-expansion-panel:not([class*=mat-elevation-z]){
    border: none;
    outline: none;
    box-shadow: none;
   }
   .mat-icon{
     color: #5A5A5A;
     margin-right: 2pc;
   }
   .mat-slide-toggle{
     padding-left: 80px;
   }
   .mat-list-item{
     font-size:12px;  
     font-weight: bold;
     font-family: 'Lucida Sans'
    }
  /* @media (min-width: 768px){
    .sidenav{
      width:200px;
      display: none;
    } 
  }  */


  