  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="isHandset ? 'dialog' : 'navigation'"
    [mode]="(isHandset | async)!.matches">
    <mat-toolbar class="beta" style="height:20vh"><img src="src/images/male.png" class="img-fluid rounded-circle"><a (click)="menu('mprofile')"><h2>Hi,GUEST</h2></a></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="menu('dashboard')"><mat-icon aria-label="Side nav toggle icon">home</mat-icon>HOME</a>
      <a mat-list-item (click)="menu('myinbox')"><mat-icon aria-label="Side nav toggle icon">mail</mat-icon>INBOX</a>
      <a mat-list-item (click)="menu('mynotifi')"> <mat-icon aria-label="Side nav toggle icon">notifications_active</mat-icon>NOTIFICATION</a>
      <a mat-list-item >ONLINE STATUS <mat-slide-toggle></mat-slide-toggle></a><hr>
      <a mat-list-item (click)="menu('categories')"><mat-icon aria-label="Side nav toggle icon">label</mat-icon> CATEGORIES </a><hr />
    
      <a mat-list-item href="#"> <mat-icon aria-label="Side nav toggle icon"></mat-icon>SPECAIL REQUEST</a>
      <a mat-list-item (click)="menu('mysupport')"> <mat-icon aria-label="Side nav toggle icon">support</mat-icon>SUPPORT</a>
      <a mat-list-item routerLink="/tailor"> <mat-icon aria-label="Side nav toggle icon">swap_horizontal_circle</mat-icon>VIEW AS TAILOR</a>
      <a mat-list-item (click)="menu('myprofile')"> <mat-icon aria-label="Side nav toggle icon">settings</mat-icon>PROFILE</a><hr>
      <a mat-list-item (click)="menu('myset')"> <mat-icon aria-label="Side nav toggle icon">settings</mat-icon>SETTINGS</a><hr>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content >
    <mat-toolbar class="beta1 fixed-top">
      <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle()">
      <i class="fa fa-bars fa-lg"></i>
      <!-- <mat-icon aria-label="Side nav toggle icon">input</mat-icon> -->
    </button>
    <span>BETA</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <div *ngIf="dashboard">
        <app-dashboardhome></app-dashboardhome>     
    </div>
    <div *ngIf="categories">
      <app-categories></app-categories>     
    </div>
    <div *ngIf="profile">
      <app-profile></app-profile>
    </div>
    <div *ngIf="dashboardsupport">
      <app-dashboard-support></app-dashboard-support>
    </div>
    <div *ngIf="inbox">
      <app-inbox></app-inbox>
    </div>
    <div *ngIf="setting">
      <app-settings></app-settings>
    </div>
    <div *ngIf="notifications">
      <app-notification></app-notification>
    </div>
  </mat-sidenav-content>
  </mat-sidenav-container>