<div class="container-fluid">
  <div class="text-center">Earnings</div>
  <mat-card>
    <div><b>Earnings/Month </b><span><b>Total</b></span></div>
  </mat-card>
  <mat-card>
      <div>Current Orders <span>N54000.50</span></div>
    </mat-card>
    <mat-card>
        <div>Active Orders<span>N51400.50</span></div>
      </mat-card>
      <mat-card>
          <div>Pending Orders <span>N5400.50</span></div>
        </mat-card>
        <mat-card>
            <div>Cancelled Orders <span>N4000.00</span></div>
          </mat-card>
</div>
    
    
