
   <nav class="navbar navbar-dark navbar-expand-sm fixed-top" id="nav">
    <div class="container-fluid">
      <a href="" class="navbar-brand" style="font-size:55px"><div>Beta</div></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#me">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="me">
         <span><a href="about">About</a></span>  
         <!-- <span><a>Terms Of Service</a></span>  -->
         <span><a href="privacy">Policy</a></span>
         <span><a href="support">Support</a></span>  
         <span><button id="sign">Sign In</button></span>
         <span><a href="login"><button id="join">Join Now</button></a></span>        
        </div>
    </div>
  </nav>
  <div class="container-fluid segment">
    <div class="text-img">
     <span class="text-imgone"><b>Hire Experts &</b></span> <br><span class="text-imgtwo">Get Your Jobs Done</span>
     <hr>

     <input type="text" placeholder="Search anything" id="text-one"><button id="btn-one"><i class="fa fa-search" style="padding-right:10px;"></i><span class="text-search">Search</span></button>
    </div>
    <div>
        <img src="src/assets/images/Home.png" class="img-fluid one"> 
    </div>
  </div>
  <div class="container">
    <div class="text-center txt-cen"><b>Categories</b></div>
    <div class="row">
        <div class="col-md-4">
              <img src="src/assets/images/e.jpg" class="img-fluid rounded-circle">
              <div id="img-one">Casual Tailors</div>
        </div>
        <div class="col-md-4">
            <img src="src/assets/images/e.jpg" class="img-fluid rounded-circle">
            <div id="img-two">Suit Tailors</div>
        </div>
        <div class="col-md-4">
          <img src="src/assets/images/e.jpg" class="img-fluid rounded-circle">
          <div id="img-three">Equipments</div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-4">
            <img src="src/assets/images/e.jpg" class="img-fluid rounded-circle">
            <div id="img-one">Casual Tailors</div>
      </div>
      <div class="col-md-4">
          <img src="src/assets/images/e.jpg" class="img-fluid rounded-circle">
          <div id="img-two">Suit Tailors</div>
      </div>
      <div class="col-md-4">
        <img src="src/assets/images/e.jpg" class="img-fluid rounded-circle">
        <div id="img-three">Equipments</div>
      </div>
  </div>
  <div class="row">
    <div class="col-md-4">
          <img src="src/assets/images/e.jpg" class="img-fluid rounded-circle">
          <div id="img-one">Casual Tailors</div>
    </div>
    <div class="col-md-4">
        <img src="src/assets/images/e.jpg" class="img-fluid rounded-circle">
        <div id="img-two">Suit Tailors</div>
    </div>
    <div class="col-md-4">
      <img src="src/assets/images/e.jpg" class="img-fluid rounded-circle">
      <div id="img-three">Equipments</div>
    </div>
</div>
  </div>
  <!-- <div class="container-fluid">
		<div class="row">
			<div class="col">
			<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
						<li data-target="#carou" class="active"></li>
						<li data-target="#carou"></li>
						<li data-target="#carou"></li>
						<li data-target="#carou"></li>
						<li data-target="#carou"></li>
						<li data-target="#carou"></li>
					</ol>
				  <div class="carousel-inner">
				    <div class="carousel-item active">
				      <img class="caro d-block w-100" src="src/images/lo-ken-637509-unsplash.jpg" alt="First slide">
				    </div> -->
				    <!-- <div class="carousel-item">
				      <img class="caro d-block w-100" src="src/images/cb.png" alt="Second slide">
				    </div>
				    <div class="carousel-item">
				      <img class="caro d-block w-100" src="src/images/cc.png" alt="Third slide">
				    </div>
				    <div class="carousel-item">
				      <img class="caro d-block w-100" src="src/images/cd.png" alt="Fourth slide">
				    </div>
				    <div class="carousel-item">
				      <img class="caro d-block w-100" src="src/images/ce.png" alt="Five slide">
				    </div>
				    <div class="carousel-item">
				      <img class="caro d-block w-100" src="src/images/cf.png" alt="Six slide">
				    </div> -->
				  <!-- </div>
				</div>
      </div></div></div> -->
      <div class="abt-man">
        <div class="colo">
            <div class="abt-abt">About</div>
            <div class="abt-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente omnis laborum, consequuntur in ducimus repellendus eaque qui quaerat? Illo beatae fuga quae nisi labore et est quas consequuntur, eligendi sunt.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum error dolore facere cupiditate illum totam, aut numquam consequatur inventore. Amet consequuntur magni iure minima? Aliquid ullam optio cumque voluptatum reiciendis?
          </div>
          <div>
            <button class="abt-btn">LEARN MORE</button>
          </div>
          </div>
          <div class="colo">
            <img src="src/images/man.png" class="img-fluid">
          </div>
       </div>
       <div class="container">
         <div class="popular">
           Most Popular Gigs
         </div>
          <div class="row">
              <div class="col-md-4">
                  <div class="card" >
                      <img class="card-img-top" src="src/images/male.png">
                      <div class="card-body">
                        <h4 class="card-title">John Doe</h4>
                        <p class="card-text">Suit Tailor</p>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                      </div>
                    </div>
              </div>
              <div class="col-md-4">
                  <div class="card">
                      <img class="card-img-top" src="src/images/female.png">
                      <div class="card-body">
                        <h4 class="card-title">Britney VAD</h4>
                        <p class="card-text">Native Tailor</p>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                      </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="src/images/male.png">
                        <div class="card-body">
                          <h4 class="card-title">Sam Sam</h4>
                          <p class="card-text">Customiser</p>
                          <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        </div>
                      </div>
                  </div>
          </div>
       </div>

       <div class="foot container-fluid text-muted mt-5">
          <div class="row" style="margin-left: 70px;padding-top: 20px">
            <div class="col-md-8">
              <div class="foot-foot"><b style="color: #fff;padding-right: 10px">Buying on Beta   </b> Buyer Safety centre|Beta Buyer Protection|How to Shop on Beta|Beta Return Policy|Delivery</div>
              <hr>
              <div class="foot-foot"><b>Beta</b></div>
              <div  class="foot-foot">Contact Us|About Us|Forum|Careers|Become an Affiliate|FAQ|Site Map|Our Blog|e-Gift Voucher|Bulk Purchase|Track My Order|Seller academy|Delivery</div>
              <hr>
              <div  class="foot-foot"><b style="color: #fff;padding-right: 10px">Payment</b> BetaPay |Wallet|</div>
            </div>
            <div class="col-md-4">
              <div class="foot-foot"><b>Shop Easter</b></div>
              <div><span class="fa fa-apple fa-2x"></span><span class="fa fa-android fa-2x"></span><span class="foot-foot">Download the Beta Mobile App Today</span></div>
              <div class="foot-foot"><b>Newsletter</b></div>
              <div style="font-size: 10px;padding-bottom: 10px;color: #fff">Subscribe for Special Offers,Promos & Deals</div>
              <!-- <div><input type="email"  placeholder="Enter email address" class="foot-text"><button class="foot-btn">Subscribe</button></div> -->
              <div class="foot-foot">Keep In Touch<br>
                01 460 5555 or 0809 460 5555
              </div>
              <span class="fa fa-facebook fa-2x"></span>
              <span class="fa fa-twitter fa-2x"></span>
              <span class="fa fa-google fa-2x"></span>
              <!-- <span class="fa fa-instagram  fa-2x"></span> -->
            </div>
          </div>