
.navbar-brand 
{
   margin-left: 0px;
   margin-bottom: 0%;
}
nav
{
    border-bottom:1px solid #2AB967;
    background-color: #2AB967;
    color: white;
    width:100%;
    height: 5pc;
}
.text-imgone
{
    font-size: 55px;
}
.text-imgtwo
{
    font-size: 45px;
}
.navbar-collapse
{
    margin-left: 40%;
}

.navbar-collapse span a
{
    font-size: 20px;
    margin-right: 20px;
    text-decoration: none;
    color:white;
}
.navbar-collapse span a:hover
{
    border-bottom: 3px solid white;
    padding-bottom: 25px;
}
#sign
{
    margin-right: 20px;
    border-style: none;
    height: 35px;
    width: 110px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    font-size: 19px;
    padding-bottom:10px;
}
#sign:hover{
    background-color: rgb(255,255,255,0.4);
    border: none;
}
#join
{
    margin-right: 20px;
    border-style: none;
    height: 35px;
    width: 110px;
    background-color: white;
    color: #2AB967;
    border: 1px solid white;
    border-radius: 20px;
    font-size: 19px;
}
#join:hover
{
    border: none;
    background-color: rgb(255,255,255,0.4);
    color: white;
}
.one
{
    position:absolute;
    top:120px;
    left:850px;
    height:350px;
}
.segment
{
    background-color: #2AB967;
    height: 500px;
    color:white;
}
.text-img
{
    position: absolute;
    top: 200px;
    left:80px;
 /* color: white;    */
}
#text-one
{
    width: 375px;
    border-style: none;
    height: 35px;
    background-color: #96DCB4;
    padding: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: 2px;
    font-size: 17px;
}
#btn-one
{
    position: absolute;
    top: 186px;
    left:375px;
    height: 40px;
    width: 130px;
    border: none;
    text-transform: uppercase;
    color: white;
    background-color: #2AB967;
    box-shadow: black 1px 1px 3px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    
}
#btn-one:hover
{
     color:#2AB967;
    box-shadow: none;
    background-color: rgb(255,255,255,0.9);
}
.txt-cen
{
    width:20%;
    padding-top: 5px;
    font-size: 45px;
    color:#2AB967;
    padding-bottom: 10px;
    border-bottom: 3px solid #E8DB5B; 
    margin-left: 42%;
}
.rounded-circle
{
    padding: 20px;
    opacity: 1.0;
}
#img-one
{
    position: absolute;
    top: 140px;
    left:47px;
    font-size: 40px;
    color:white;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
#img-two
{
    position: absolute;
    top: 140px;
    left:60px;
    font-size: 45px;
    color:white;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
#img-three
{
    position: absolute;
    top: 140px;
    left:70px;
    font-size: 45px;
    color:white;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.carousel-indicators li{width: 15px;height: 15px;border-radius: 100%;}
.abt-man
{
    margin-top:5%;
    display: flex;
    margin-bottom: 5%;
}
.colo
{
    flex:1;
}
.colo:nth-child(1)
{
    background-color: #2AB967;
}
.abt-abt
{
    font-size: 45px;
    color: white;
    border-bottom: 3px solid #E8DB5B;
    width:19%;
    margin-left: 4%;
    margin-bottom:1%;
}
.abt-text
{
    padding: 2%;
    color:white;
    font-size:16px;
    line-height: 50px;
}
.abt-btn
{
    color:#E8DB5B;
    background-color: transparent;
    font-size: 25px;
    border: 2px solid #E8DB5B;
    margin-left: 2%;
    padding-left: 5%;padding-right: 5%;
    padding-top: 3%;padding-bottom: 3%;
    border-radius: 40px;
}
.abt-btn:hover
{
    border:none;
    background-color: rgb(255,255,255,0.4);
    color:#2AB967;  
}
.popular
{
    width:33%;
    padding-top: 5px;
    font-size: 45px;
    color:#2AB967;
    padding-bottom: 10px;
    border-bottom: 3px solid #E8DB5B; 
    margin-left: 32%;
    margin-bottom: 3%;
}
.checked {
    color: orange;
}
.card
{
    margin-bottom: 3%;
    width:350px;
}
.card-img-top
{
    width:100%;
}
.foot
{
    background-color: #2AB967;
    color: white;
    padding-bottom: 5%;
}
.foot-foot
{
    font-size: 10px;color: #fff;
}
.foot-text
{
    border-style: none;
    height: 35px;
    background-color: #96DCB4;
    padding: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: 2px;
    font-size: 17px;
    
}
.foot-btn
{
    height: 40px;
    width: 130px;
    border: none;
    text-transform: uppercase;
    color: white;
    background-color: #2AB967;
    box-shadow: black 1px 1px 3px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}
.foot-btn:hover
{
    color:#2AB967;
    box-shadow: none;
    background-color: rgb(255,255,255,0.9);
}
.fa-apple
{
    color: white;
    padding: 5px;
}
.fa-android
{
    color: white;
    padding: 5px;
}
.fa-facebook
{
    position: fixed;
    top: 60%;
    left:96.7%;
    color: white;
    background-color: #3A579A;
    width:50px;
    height:50px;
    padding: 10px;
    
}
.fa-facebook:hover
{
    left: 96%;
    width:60px;
    
}
.fa-google:hover
{
    left: 96%;
    width:60px;
    
}
.fa-twitter:hover
{
    left: 96%;
    width:60px;
    
}
.fa-google
{
    color:white;
    position: fixed;
    top: 67%;
    left:96.7%;
    color: white;
    background-color:#DF4A32;
    width:50px;
    height:50px;
    padding: 10px;
   
}
.fa-twitter
{
    color:white;
    position: fixed;
    top: 74%;
    width:50px;
    height:50px;
    left:96.7%;
    color: white;
    background-color: #00ABF0;
    width:50px;
    height:50px;
    padding:10px;
}
@media (max-width: 375px) {
            .navbar-brand 
        {
            
        }
        .navbar-expand-sm{ 

        }
        nav
        {
            border-bottom:1px solid #2AB967;
            background-color:#2AB967;
            color: white;
            width:100%;
            height: 5pc;
        }
        .navbar-collapse span
        {
             
        }

        .navbar-collapse span a
        {
            /* display: none; */
            font-size: 14px;
            border:none;
            text-decoration: underline;
            
        }
        #sign{margin-bottom: 10px;}
        .one
        {
            position:absolute;
            top:120px;
            left:0px;;
            height:350px;
        }
        .segment
        {
            background-color: #2AB967;  
            height: 600px;
            color:white;
        }
        .text-img
        {
            position: absolute;
            top: 500px;
            left:80px;
            
         /* color: white;    */
        }
        .text-imgone
        {
            font-size: 35px;
        }
        .text-imgtwo
        {
            font-size: 25px;
        }
        hr
        {
            display: none
        }
        #text-one
        {
            /* position: absolute;
            top: 90px;
            left: 0px;
            width: 170px;
            border:none;
            background-color: transparent;
            border-bottom: 2px solid white;
            border-bottom-left-radius: 0px;
            padding:0px; */
            display: none;
        }
        .text-search{display: none}
        #btn-one
        {
            display: none;
            
            
        }
       
        .txt-cen
        {
            width:55%;
            padding-top: 5px;
            font-size: 35px;
            color:#2AB967;
            padding-bottom: 10px;
            border-bottom: 3px solid #E8DB5B; 
            margin-left: 20%;
        }
        .rounded-circle
        {
            padding: 20px;
            opacity: 1.0;
        }
        #img-one
        {
            position: absolute;
            top: 140px;
            left:43px;
            font-size: 35px;
            color:white;
            text-transform: uppercase;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        }
        #img-two
        {
            position: absolute;
            top: 140px;
            left:65px;
            font-size: 35px;
            color:white;
            text-transform: uppercase;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        }
        #img-three
        {
            position: absolute;
            top: 140px;
            left:65px;
            font-size: 35px;
            color:white;
            text-transform: uppercase;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        }
       
        .abt-man
        {
            margin-top:5%;
            width: 100%;
            margin-bottom: 5%;
        }
        .colo:nth-child(2)
        {   
            display: none;
        }
        .colo:nth-child(1)
        {
            background-color: #2AB967;
            padding-bottom: 5%;
        }
        .abt-abt
        {
            font-size: 45px;
            color: white;
            border-bottom: 3px solid #E8DB5B;
            width:32%;
            margin-left: 4%;
            margin-bottom:1%;
        }
        .abt-text
        {
            padding: 2%;
            color:white;
            font-size:16px;
            line-height: 50px;
        }
        .abt-btn
        {
            color:#E8DB5B;
            background-color: transparent;
            font-size: 25px;
            border: 2px solid #E8DB5B;
            margin-left: 2%;
            padding-left: 5%;padding-right: 5%;
            padding-top: 3%;padding-bottom: 3%;
            border-radius: 40px;
        }
        
        .popular
        {
            width: 63%;
            padding-top: 5px;
            font-size: 25px;
            color:#2AB967;
            padding-bottom: 10px;
            border-bottom: 3px solid #E8DB5B; 
            margin-left: 15%;
            margin-bottom: 3%;
        }
        .checked {
            color: orange;
        }
        .card
        {
            margin-bottom: 3%;
            width: 310px;
        }
        .card-img-top{
            width: 300px;
            height: 300px;
        }
        .foot
        {
            background-color: #2AB967;
            color: white;
        }
        .foot-foot
        {
            font-size: 10px;color: #fff
        }
        .foot-text
        {
            border-style: none;
            height: 35px;
            background-color: #96DCB4;
            padding: 20px;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            margin-top: 2px;
            font-size: 17px;
            
        }
        .foot-btn
        {
            height: 40px;
            width: 130px;
            border: none;
            text-transform: uppercase;
            color: white;
            background-color: #2AB967;
            box-shadow: black 1px 1px 3px;
            border-bottom-right-radius: 20px;
            border-top-right-radius: 20px;
        }
        .foot-btn:hover
        {
            color:#2AB967;
            box-shadow: none;
            background-color: rgb(255,255,255,0.9);
        }
        .fa-apple
        {
            color: white;
            padding: 5px;
        }
        .fa-android
        {
            color: white;
            padding: 5px;
        }
        .fa-facebook
{
    position: fixed;
    top: 60%;
    left:88%;
    color: white;
    background-color: #3A579A;
    width:50px;
    height:50px;
    padding: 10px;
    
}
.fa-google
{
    color:white;
    position: fixed;
    top: 67%;
    left:88%;
    color: white;
    background-color:#DF4A32;
    width:50px;
    height:50px;
    padding: 10px;
   
}
.fa-twitter
{
    color:white;
    position: fixed;
    top: 74%;
    width:50px;
    height:50px;
    left:88%;
    color: white;
    background-color: #00ABF0;
    width:50px;
    height:50px;
    padding:10px;
}
}
@media (max-width:415px) and (min-width:410px) {
    .navbar-brand 
    {
        
    }
    .navbar-expand-sm{

    }
    .navbar-collapse span a
    {
        /* display: none; */
        font-size: 14px;
        border:none;
        text-decoration: underline;
        
    }
    nav
    {
        border-bottom:1px solid #2AB967;
        background-color:#2AB967;
        color: white;
        width:100%;
        height: 5pc;
    }
    #sign{margin-bottom: 10px;}
    .one
    {
        position:absolute;
        top:120px;
        left:0px;;
        height:350px;
    }
    .segment
    {
        background-color: #2AB967;
        height: 600px;
        color:white;
    }
    .text-img
    {
        position: absolute;
        top: 500px;
        left:80px;
        
     /* color: white;    */
    }
    .text-imgone
    {
        font-size: 35px;
    }
    .text-imgtwo
    {
        font-size: 25px;
    }
    hr
    {
        display: none
    }
    #text-one
    {
        /* position: absolute;
        top: 90px;
        left: 0px;
        width: 170px;
        border:none;
        background-color: transparent;
        border-bottom: 2px solid white;
        border-bottom-left-radius: 0px;
        padding:0px; */
        display: none;
    }
    .text-search{display: none}
    #btn-one
    {
        display: none;
        
        
    }
   
    .txt-cen
    {
        width:55%;
        padding-top: 5px;
        font-size: 35px;
        color:#2AB967;
        padding-bottom: 10px;
        border-bottom: 3px solid #E8DB5B; 
        margin-left: 20%;
    }
    .rounded-circle
    {
        padding: 20px;
        opacity: 1.0;
    }
    #img-one
    {
        position: absolute;
        top: 140px;
        left:43px;
        font-size: 35px;
        color:white;
        text-transform: uppercase;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }
    #img-two
    {
        position: absolute;
        top: 140px;
        left:65px;
        font-size: 35px;
        color:white;
        text-transform: uppercase;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }
    #img-three
    {
        position: absolute;
        top: 140px;
        left:65px;
        font-size: 35px;
        color:white;
        text-transform: uppercase;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }
   
    .abt-man
    {
        margin-top:5%;
        width: 100%;
        margin-bottom: 5%;
    }
    .colo:nth-child(2)
    {   
        display: none;
    }
    .colo:nth-child(1)
    {
        background-color: #2AB967;
        padding-bottom: 5%;
    }
    .abt-abt
    {
        font-size: 45px;
        color: white;
        border-bottom: 3px solid #E8DB5B;
        width:32%;
        margin-left: 4%;
        margin-bottom:1%;
    }
    .abt-text
    {
        padding: 2%;
        color:white;
        font-size:16px;
        line-height: 50px;
    }
    .abt-btn
    {
        color:#E8DB5B;
        background-color: transparent;
        font-size: 25px;
        border: 2px solid #E8DB5B;
        margin-left: 2%;
        padding-left: 5%;padding-right: 5%;
        padding-top: 3%;padding-bottom: 3%;
        border-radius: 40px;
    }
    
    .popular
    {
        width: 63%;
        padding-top: 5px;
        font-size: 25px;
        color:#2AB967;
        padding-bottom: 10px;
        border-bottom: 3px solid #E8DB5B; 
        margin-left: 15%;
        margin-bottom: 3%;
    }
    .checked {
        color: orange;
    }
    .card
    {
        margin-bottom: 3%;
        width: 310px;
    }
    .card-img-top{
        width: 300px;
        height: 300px;
    }
    .foot
    {
        background-color: #2AB967;
        color: white;
    }
    .foot-foot
    {
        font-size: 10px;color: #fff
    }
    .foot-text
    {
        border-style: none;
        height: 35px;
        background-color: #96DCB4;
        padding: 20px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        margin-top: 2px;
        font-size: 17px;
        
    }
    .foot-btn
    {
        height: 40px;
        width: 130px;
        border: none;
        text-transform: uppercase;
        color: white;
        background-color: #2AB967;
        box-shadow: black 1px 1px 3px;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
    }
    .foot-btn:hover
    {
        color:#2AB967;
        box-shadow: none;
        background-color: rgb(255,255,255,0.9);
    }
    .fa-apple
    {
        color: white;
        padding: 5px;
    }
    .fa-android
    {
        color: white;
        padding: 5px;
    }
    .fa-facebook
    {
        position: fixed;
        top: 60%;
        left:88%;
        color: white;
        background-color: #3A579A;
        width:50px;
        height:50px;
        padding: 10px;
        
    }
    .fa-google
    {
        color:white;
        position: fixed;
        top: 67%;
        left:88%;
        color: white;
        background-color:#DF4A32;
        width:50px;
        height:50px;
        padding: 10px;
       
    }
    .fa-twitter
    {
        color:white;
        position: fixed;
        top: 74%;
        width:50px;
        height:50px;
        left:88%;
        color: white;
        background-color: #00ABF0;
        width:50px;
        height:50px;
        padding:10px;
    }
	
}
@media (max-width: 770px) and (min-width:760px) {
	.navbar-brand 
    {
        
    }
    .navbar-expand-sm{
        
    }
    .navbar-collapse span a
    {
        /* display: none; */
        font-size: 13px;
        border:none;
        width:15px;
        
        
    }
    .navbar-collapse
    {
        margin-left: 20%;
    }
    nav
    {
        border-bottom:1px solid #2AB967;
        background-color:#2AB967;
        color: white;
        width:768px;
        height: 5pc;
    }

    #sign{margin-left: 20px;}
    .one
    {
        position:absolute;
        top:120px;
        left:320px;;
        height:350px;
    }
    .segment
    {
        background-color: #2AB967;
        height: 500px;
        color:white;
    }
    .text-img
    {
        position: absolute;
        top: 150px;
        left:35px;
        
     /* color: white;  */ 
    }
    .text-imgone
    {
        font-size: 35px;
    }
    .text-imgtwo
    {
        font-size: 25px;
    }
    hr
    {
        display: none
    }
    #text-one
    {
        /* position: absolute;
        top: 90px;
        left: 0px;
        width: 170px;
        border:none;
        background-color: transparent;
        border-bottom: 2px solid white;
        border-bottom-left-radius: 0px;
        padding:0px; */
        display: none;
    }
    .text-search{display: none}
    #btn-one
    {
        display: none;
        
        
    }
   
    .txt-cen
    {
        width:30%;
        padding-top: 5px;
        font-size: 35px;
        color:#2AB967;
        padding-bottom: 10px;
        border-bottom: 3px solid #E8DB5B; 
        margin-left: 30%;
    }
    .rounded-circle
    {
        padding: 20px;
        opacity: 1.0;
    }
    #img-one
    {
        position: absolute;
        top: 100px;
        left:43px;
        font-size: 20px;
        color:white;
        text-transform: uppercase;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }
    #img-two
    {
        position: absolute;
        top: 100px;
        left:65px;
        font-size: 20px;
        color:white;
        text-transform: uppercase;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }
    #img-three
    {
        position: absolute;
        top: 100px;
        left:65px;
        font-size: 20px;
        color:white;
        text-transform: uppercase;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }
   
    .abt-man
    {
        margin-top:5%;
        width: 100%;
        margin-bottom: 5%;
    }
    .colo:nth-child(2)
    {   
        display: none;
    }
    .colo:nth-child(1)
    {
        background-color: #2AB967;
        padding-bottom: 5%;
    }
    .abt-abt
    {
        font-size: 45px;
        color: white;
        border-bottom: 3px solid #E8DB5B;
        width:16%;
        margin-left: 4%;
        margin-bottom:1%;
    }
    .abt-text
    {
        padding: 2%;
        color:white;
        font-size:16px;
        line-height: 50px;
    }
    .abt-btn
    {
        color:#E8DB5B;
        background-color: transparent;
        font-size: 25px;
        border: 2px solid #E8DB5B;
        margin-left: 2%;
        padding-left: 5%;padding-right: 5%;
        padding-top: 3%;padding-bottom: 3%;
        border-radius: 40px;
    }
    
    .popular
    {
        width: 31%;
        padding-top: 5px;
        font-size: 25px;
        color:#2AB967;
        padding-bottom: 10px;
        border-bottom: 3px solid #E8DB5B; 
        margin-left: 40%;
        margin-bottom: 3%;
    }
    .checked {
        color: orange;
    }
    .card
    {
        margin-bottom: 3%;
        width: 230px;
    }
    .card-img-top{
        width: 230px;
        height: 230px;
    }
    .foot
    {
        background-color: #2AB967;
        color: white;
    }
    .foot-foot
    {
        font-size: 10px;color: #fff
    }
    .foot-text
    {
        border-style: none;
        height: 35px;
        background-color: #96DCB4;
        padding: 20px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        width: 200px;
        margin-top: 2px;
        font-size: 17px;
        
    }
    .foot-btn
    {
        height: 40px;
        width: 130px;
        border: none;
        text-transform: uppercase;
        color: white;
        background-color: #2AB967;
        box-shadow: black 1px 1px 3px;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
    }
    .foot-btn:hover
    {
        color:#2AB967;
        box-shadow: none;
        background-color: rgb(255,255,255,0.9);
    }
    .fa-apple
    {
        color: white;
        padding: 5px;
    }
    .fa-android
    {
        color: white;
        padding: 5px;
    }
    .fa-facebook
    {
        position: fixed;
        top: 60%;
        left:95%;
        color: white;
        background-color: #3A579A;
        width:50px;
        height:50px;
        padding: 10px;
        
    }
    .fa-google
    {
        color:white;
        position: fixed;
        top: 65%;
        left:95%;
        color: white;
        background-color:#DF4A32;
        width:50px;
        height:50px;
        padding: 10px;
       
    }
    .fa-twitter
    {
        color:white;
        position: fixed;
        top: 70%;
        width:50px;
        height:50px;
        left:95%;
        color: white;
        background-color: #00ABF0;
        width:50px;
        height:50px;
        padding:10px;
} 
}
@media (max-width:1030px) and (min-width:992px) {
	.navbar-brand 
    {
        
    }
    .navbar-collapse span a
    {
        /* display: none; */
        font-size: 13px;
        border:none;
        width:15px;
        
        
    }
    .navbar-collapse
    {
        margin-left: 20%;
    }
    .navbar-expand-sm{
        
        
    }
    nav
    {
        border-bottom:1px solid #2AB967;
        background-color:#2AB967;
        color: white;
        width:1024px;
        height: 5pc;
    }

    
    #sign{margin-left: 150px;}
    .one
    {
        position:absolute;
        top:120px;
        left:560px;;
        height:350px;
    }
    .segment
    {
        background-color: #2AB967;
        height: 500px;
        color:white;
    }
    .text-img
    {
        position: absolute;
        top: 150px;
        left:35px;
        
     /* color: white;  */ 
    }
    .text-imgone
    {
        font-size: 35px;
    }
    .text-imgtwo
    {
        font-size: 25px;
    }
    hr
    {
        display: none
    }
    #text-one
    {
        /* position: absolute;
        top: 90px;
        left: 0px;
        width: 170px;
        border:none;
        background-color: transparent;
        border-bottom: 2px solid white;
        border-bottom-left-radius: 0px;
        padding:0px; */
        display: none;
    }
    .text-search{display: none}
    #btn-one
    {
        display: none;
        
        
    }
   
    .txt-cen
    {
        width:20%;
        padding-top: 5px;
        font-size: 35px;
        color:#2AB967;
        padding-bottom: 10px;
        border-bottom: 3px solid #E8DB5B; 
        margin-left: 35%;
    }
    .rounded-circle
    {
        padding: 20px;
        opacity: 1.0;
    }
    #img-one
    {
        position: absolute;
        top: 120px;
        left:43px;
        font-size: 35px;
        color:white;
        text-transform: uppercase;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }
    #img-two
    {
        position: absolute;
        top: 120px;
        left:65px;
        font-size: 35px;
        color:white;
        text-transform: uppercase;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }
    #img-three
    {
        position: absolute;
        top: 120px;
        left:65px;
        font-size: 35px;
        color:white;
        text-transform: uppercase;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }
   
    .abt-man
    {
        margin-top:5%;
        width: 100%;
        margin-bottom: 5%;
    }
    .colo:nth-child(2)
    {   
        display: none;
    }
    .colo:nth-child(1)
    {
        background-color: #2AB967;
        padding-bottom: 5%;
    }
    .abt-abt
    {
        font-size: 45px;
        color: white;
        border-bottom: 3px solid #E8DB5B;
        width:12%;
        margin-left: 4%;
        margin-bottom:1%;
    }
    .abt-text
    {
        padding: 2%;
        color:white;
        font-size:16px;
        line-height: 50px;
    }
    .abt-btn
    {
        color:#E8DB5B;
        background-color: transparent;
        font-size: 25px;
        border: 2px solid #E8DB5B;
        margin-left: 2%;
        padding-left: 5%;padding-right: 5%;
        padding-top: 3%;padding-bottom: 3%;
        border-radius: 40px;
    }
    
    .popular
    {
        width: 23%;
        padding-top: 5px;
        font-size: 25px;
        color:#2AB967;
        padding-bottom: 10px;
        border-bottom: 3px solid #E8DB5B; 
        margin-left: 40%;
        margin-bottom: 3%;
    }
    .checked {
        color: orange;
    }
    .card
    {
        margin-bottom: 3%;
        width: 230px;
    }
    .card-img-top{
        width: 230px;
        height: 230px;
    }
    .foot
    {
        background-color: #2AB967;
        color: white;
    }
    .foot-foot
    {
        font-size: 10px;color: #fff
    }
    .foot-text
    {
        border-style: none;
        height: 35px;
        background-color: #96DCB4;
        padding: 20px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        width: 200px;
        margin-top: 2px;
        font-size: 17px;
        
    }
    .foot-btn
    {
        height: 40px;
        width: 130px;
        border: none;
        text-transform: uppercase;
        color: white;
        background-color: #2AB967;
        box-shadow: black 1px 1px 3px;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
    }
    .foot-btn:hover
    {
        color:#2AB967;
        box-shadow: none;
        background-color: rgb(255,255,255,0.9);
    }
    .fa-apple
    {
        color: white;
        padding: 5px;
    }
    .fa-android
    {
        color: white;
        padding: 5px;
    }
    .fa-facebook
    {
        position: fixed;
        top: 60%;
        left:95%;
        color: white;
        background-color: #3A579A;
        width:50px;
        height:50px;
        padding: 10px;
        
    }
    .fa-google
    {
        color:white;
        position: fixed;
        top: 65%;
        left:95%;
        color: white;
        background-color:#DF4A32;
        width:50px;
        height:50px;
        padding: 10px;
       
    }
    .fa-twitter
    {
        color:white;
        position: fixed;
        top: 70%;
        width:50px;
        height:50px;
        left:95%;
        color: white;
        background-color: #00ABF0;
        width:50px;
        height:50px;
        padding:10px;
    }
}
@media (min-width: 1200px) {
	
}

