<div  *ngIf="fabrics" class="container">
  <div class="row">
    <div class="header header1">
      <span><a (click)="menu('dashboard')">Home</a> > </span><span><a (click)="menu('categories')">Categories</a></span> > <span><a (click)="menu('fabrics')">Fabrics</a></span>
      <br /><br />
      <h1 class="text-center">Fabrics</h1>
      <h6 class="text-center">In need of lovely fabrics and materials for your designs? Pick your choice!</h6>
    </div>
  </div>

  <div class="row r2">
      <div class="col-md-3 col-sm-6">
        <a href="">
          <div class="card mx-auto text-white text-center">
            <img src="src/assets/images/categories/ank.jpg" alt="" class="card-img-top image-fluid">
            <div class="card-body">
              <p class="card-text">Ankara</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a href="">
          <div class="card mx-auto text-white text-center">
            <img src="src/assets/images/categories/lac.jpg" alt="" class="card-img-top image-fluid">
            <div class="card-body">
              <p class="card-text">Lace</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a href="">
          <div class="card mx-auto text-white text-center">
            <img src="src/assets/images/categories/cot.jpg" alt="" class="card-img-top image-fluid">
            <div class="card-body">
              <p class="card-text">Cotton</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a href="">
          <div class="card mx-auto text-white text-center">
            <img src="src/assets/images/categories/ati.jpg" alt="" class="card-img-top image-fluid">
            <div class="card-body">
              <p class="card-text">Atiku</p>
            </div>
          </div>
        </a>
      </div>
  </div> 

    <div class="row r2">
      <div class="col-md-3 col-sm-6">
        <a href="">
          <div class="card mx-auto text-white text-center">
            <img src="src/assets/images/categories/bro.jpg" alt="" class="card-img-top image-fluid">
            <div class="card-body">
              <p class="card-text">Brocade</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a href="">
          <div class="card mx-auto text-white text-center">
            <img src="src/assets/images/categories/chi.jpg" alt="" class="card-img-top image-fluid">
            <div class="card-body">
              <p class="card-text">Chiffon</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a href="">
          <div class="card mx-auto text-white text-center">
            <img src="src/assets/images/categories/sil.jpg" alt="" class="card-img-top image-fluid">
            <div class="card-body">
              <p class="card-text">Silk</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a href="">
          <div class="card mx-auto text-white text-center">
            <img src="src/assets/images/categories/vel.jpg" alt="" class="card-img-top image-fluid">
            <div class="card-body">
              <p class="card-text">Velvet</p>
            </div>
          </div>
        </a>
      </div>
    </div>
    
    <div class="row r2">
      <div class="col-md-3 col-sm-6">
        <a href="">
          <div class="card mx-auto text-white text-center">
            <img src="src/assets/images/categories/adi.jpg" alt="" class="card-img-top image-fluid">
            <div class="card-body">
              <p class="card-text">Adire</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a href="">
          <div class="card mx-auto text-white text-center">
            <img src="src/assets/images/categories/scu.jpg" alt="" class="card-img-top image-fluid">
            <div class="card-body">
              <p class="card-text">Scuba</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a (click)="menu('denim')">
          <div class="card mx-auto text-white text-center">
            <img src="src/assets/images/categories/den.jpg" alt="" class="card-img-top image-fluid">
            <div class="card-body">
              <p class="card-text">Denim</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a href="">
          <div class="card mx-auto text-white text-center">
            <img src="src/assets/images/categories/aso.jpg" alt="" class="card-img-top image-fluid">
            <div class="card-body">
              <p class="card-text">Aso-Oke</p>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="row r2">
      <div class="col-md-3 col-sm-6">
        <a href="">
          <div class="card mx-auto text-white text-center">
            <img src="src/assets/images/categories/tul.jpg" alt="" class="card-img-top image-fluid">
            <div class="card-body">
              <p class="card-text">Tulle</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a href="">
          <div class="card mx-auto text-white text-center">
            <img src="src/assets/images/categories/ken.jpg" alt="" class="card-img-top image-fluid">
            <div class="card-body">
              <p class="card-text">Kente</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a href="">
          <div class="card mx-auto text-white text-center">
            <img src="src/assets/images/categories/org.jpg" alt="" class="card-img-top image-fluid">
            <div class="card-body">
              <p class="card-text">Organza</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a href="">
          <div class="card mx-auto text-white text-center">
            <img src="src/assets/images/categories/seq.jpg" alt="" class="card-img-top image-fluid">
            <div class="card-body">
              <p class="card-text">Sequin</p>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="row r2">
      <div class="col-md-3 col-sm-6">
        <a href="">
          <div class="card mx-auto text-white text-center">
            <img src="src/assets/images/categories/sat.jpg" alt="" class="card-img-top image-fluid">
            <div class="card-body">
              <p class="card-text">Satin</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a href="">
          <div class="card mx-auto text-white text-center">
            <img src="src/assets/images/categories/ebi.jpg" alt="" class="card-img-top image-fluid">
            <div class="card-body">
              <p class="card-text">Aso-Ebi</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a href="">
          <div class="card mx-auto text-white text-center">
            <img src="src/assets/images/categories/lin.jpg" alt="" class="card-img-top image-fluid">
            <div class="card-body">
              <p class="card-text">Linen</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a href="">
          <div class="card mx-auto text-white text-center">
            <img src="src/assets/images/categories/cre.jpg" alt="" class="card-img-top image-fluid">
            <div class="card-body">
              <p class="card-text">Crepe</p>
            </div>
          </div>
        </a>
      </div>
    </div>
</div>

<div *ngIf="denim">
  <app-denim></app-denim>     
</div> 

<div *ngIf="dashboard">
    <app-dashboardhome></app-dashboardhome>     
</div>

<div *ngIf="categories">
    <app-categories></app-categories>     
  </div>