.container{
    max-width: 80% !important;
    padding-bottom: 70px !important;
}
.header1{
    border-bottom:3px solid rgb(89, 223, 89);
    width: 100%;
    height: 170px;
    margin-top: 70px;
    padding-bottom:10px !important;
    padding: 5px;
}
.header1 h1{
    font-size: 50px;
}

.header1 h6{
    color: grey;
}

.header1 span a{
    text-decoration: none;
    color: grey;
}

.header1 span a:hover{
    text-decoration: none;
    color: green;
}

.card-img-top{
    width: 100% !important;
    height: 150px !important;
    object-fit: cover !important;
 }

.card{
    margin-top: 40px;
    background-color: rgb(76, 167, 84) !important;
    transition: 700ms;
    max-width: 250px;
}

.col-md-3{
    padding-right: 30px !important;
    padding-left: 30px !important;
}

.r2 a{
    text-decoration: none;
    font-size:15px;
    
}

.r2 a .card:hover{
    background-color: rgb(18, 117, 26) !important;
    transition: 700ms;  
}

.card-body{
    padding: 0.3rem !important;
}