<mat-list>
    <mat-list-item>
        <a href="job"> <div class="item">Existing Services<mat-icon>angle-right</mat-icon></div></a>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <a href="job"><div class="item">Create a new service<mat-icon>angle-right</mat-icon></div></a>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <a href="job"><div class="item">Promote your service<mat-icon>angle-right</mat-icon></div></a>
    </mat-list-item>
  </mat-list>