<div>
<a href="job">
<div class="statusg"></div>
<div class="pimg"><img src="assets/images/f.jpg" >
Delight(Blouse and Wrapper)<span class="fa fa-chevron-right"></span></div>
</a>
</div>
<hr>
<div>
    <div class="statusy"></div>
    <div class="pimg"><img src="assets/images/f.jpg" >
    Delight(Blouse and Wrapper)<span class="fa fa-chevron-right"></span></div>
    </div>
    <hr>
    <div>
        <div class="statusr"></div>
        <div class="pimg"><img src="assets/images/f.jpg" >
        Delight(Blouse and Wrapper)<span class="fa fa-chevron-right"></span></div>
        </div>
<!-- <div>
    <div class="pimg"><img src="assets/images/f.jpg" ></div>
    <div class="statusy"></div>
    <div><p>Delight(Blouse and Wrapper)</p><span class="fa fa-chevron-right"></span></div>
    </div>
    <div>
        <div class="pimg"><img src="assets/images/f.jpg" ></div>
        <div class="statusr"></div>
        <div><p>Delight(Blouse and Wrapper)</p><span class="fa fa-chevron-right"></span></div>
        </div> -->