<div class="container form-search">
        <span class="input-group">
            <span class="input-group-addon"><button class="btn-search"><i class="fa fa-search"></i></button><input type="text" placeholder="search anything..." class="search"></span>
         </span>
      </div>
<div class="container-fluid card">
     <a href="job">
         <mat-card>
            <mat-card-header>                       
                 <img src="src/assets/images/female.png" class="img-fluid rounded-circle " id="no" mat-card-avatar>        
                <mat-card-title><b>Delight(Blouse and Wrapper)</b> <div class="statusg"></div> <i class="fa fa-chevron-right"></i></mat-card-title> 
            </mat-card-header>
        </mat-card></a>
        <mat-card>
               <mat-card-header>
                  <img src="src/assets/images/female.png" class="img-fluid rounded-circle " id="no" mat-card-avatar>        
                 <mat-card-title><b>Delight(Blouse and Wrapper)</b><div class="statusy"></div><i class="fa fa-chevron-right"></i></mat-card-title> 
                            
            </mat-card-header>
        </mat-card>
        <mat-card>
                 <mat-card-header>
                    <img src="src/assets/images/female.png" class="img-fluid rounded-circle " id="no" mat-card-avatar>        
                 <mat-card-title><b>Delight(Blouse and Wrapper)</b><div class="statusr"></div><i class="fa fa-chevron-right"></i></mat-card-title> 
                                    
                    </mat-card-header>
        </mat-card>
</div>