
.statusg
{
    width: 10px;
    height: 10px;
    background-color: #2ab967;;
    position: absolute;
    top:25px;
    left:70px;
    border-radius:5px;
}
.statusy
{
    width: 10px;
    height: 10px;
    background-color: yellow;
    position: absolute;
    top:25px;
    left:70px;
    border-radius:5px;
}
.statusr
{
    width: 10px;
    height: 10px;
    background-color: tomato;
    position: absolute;
    top:25px;
    left:70px;
    border-radius:5px;
}
.example-card {
    max-width: 400px;
  }
  .card{margin-top: 1pc;}
  .form-search{margin-top: 5pc;}
  .input-group{
    height: 30px;background-color: transparent;border: none}
  .input-group-addon{height: 30px;background-color: transparent;border: none}
  .search
   {
       width:67pc;
       height:40px;
       border-style: none;
       padding-left: 5px;
       border-top-right-radius: 20px;border-bottom-right-radius: 20px;
       border: 1px solid #EAEAEA;border-left: none
   }
   .btn-search
   {
      width:30px;
      height: 40px;
      border-style: none;
      padding: 2px;
      background-color: white;
      border-top-left-radius: 25px;border-bottom-left-radius: 25px;padding-left: 5px;
      border: 1px solid #EAEAEA;border-right: none
   }
   .form-icon
   {
      margin-top: 15px;margin-left: 77%;
   }
   .fa-search{color: #555555}
  mat-card
  {
    height: 100px;
    margin-top: 3px;margin-bottom: 3px;background-color:#FCFCFB;
  }
  mat-card:hover
  {
    background-color: #ededed;
  }
  .container-fluid a {text-decoration: none;}
  #no {
    width: 60px;
    height: 60px;
  }
  #p{
    height: 7vh;
  }
  mat-card-title{
   padding-top: 15px;
  }
  mat-card-title b{
    font-size: 20px;
  }
  .fa-chevron-right
  {
    position: absolute;
    left:93%;
    color: #2ab967;
    float: right;
  }
  @media (max-width:349px)
  {
    mat-card-title b{
      font-size: 13px;
    }
    .search
   {
       width:15pc;}
  
  }
  @media (max-width: 375px) and (min-width:350px) {
    mat-card-title b{
      font-size: 15px;
    }
    .search
   {
       width:17pc;}
  }
  @media (max-width: 430px) and (min-width:400px) {
  .search{width:20pc}
  }
  @media (max-width: 770px) and (min-width:750px) {
  .search{width:37pc}
  }
  @media (max-width: 1030px) and (min-width:1000px) {
  .search{width:55pc;}
  }