<nav class="navbar navbar-dark navbar-custom navbar-expand-sm fixed-top" id="nav">
  <div class="container-fluid">
    <a href="" class="nav-link"><i class="fa fa-arrow-circle-left fa-2x"></i></a>
    <a href="" class="navbar-brand" style="font-size:55px"><div>Beta</div></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#me">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse offset-4" id="me">
             
      </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Persnal Information</h1>
      <div class="tab">
        <p><input type="text" placeholder="Frist Name" required="true"></p>
        <p><input type="text" placeholder="Last Name" required="true"></p>
        <p><input type="text" placeholder="Phone Number" required="true"></p>
        </div>

        <div class="tab">
          <p><input type="email" placeholder="Email" required="true"></p>
          <p><input type="text" placeholder="Password" required="true"></p>
          <p><input type="" placeholder="Region" required"true"></p>
        </div>

        <div>
          <p><span class="fa fa-"></span></p>
        </div>
        

    </div>
  </div>
</div>