  
    <div class="container" style="margin-top:130px">
        <mat-card>
      <button mat-raised-button (click)="isEditable = !isEditable">
          {{!isEditable ? 'Enable edit mode' : 'Disable edit mode'}}
        </button>
        <mat-horizontal-stepper linear #stepper>

  <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
    <form (submit)="submitForm($event)">        
        <ng-template matStepLabel>Personal Information</ng-template>
        <mat-form-field>
          <input matInput placeholder="Fullname" required name="fullname" id="Fullname" >
        </mat-form-field><br>
        <mat-form-field>
            <input matInput placeholder="Gender" required name="gender" id="gender">
          </mat-form-field><br>
          <mat-form-field>
            <input matInput placeholder="Country" required name="country" id="country">
          </mat-form-field><br>
          <mat-form-field>
            <input matInput placeholder="State" required name="state" id="state">
          </mat-form-field><br>
          <mat-form-field>
            <input matInput placeholder="Address" required name="address" id="address">
          </mat-form-field><br>
          <mat-form-field>
            <input matInput placeholder="Phone" required name="phone" id="phone">
          </mat-form-field><br>
          <mat-form-field>
            <input matInput placeholder="Email" required name="email" id="email">
          </mat-form-field><br>

          <div>
              <button mat-raised-button matStepperNext>Next</button>
            </div>

    </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
      <form (submit)="submitForm($event)">
          <ng-template matStepLabel>Account Information</ng-template>
        <mat-form-field >
            <input matInput placeholder="User Name"  required name="user" id="user">
          </mat-form-field><br>
          <mat-form-field>
            <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" required name="password" id="password">
            <mat-icon matSuffix (click)="hide = '!hide'">{{hide ? 'visibility': 'visibility_off'}}</mat-icon>
          </mat-form-field><br>
          <mat-form-field>
            <input matInput placeholder="Confirm Password" [type]="hide ? 'password' : 'text'" required name="password" id="password">
            <mat-icon matSuffix (click)="hide = '!hide'">{{hide ? 'visibility': 'visibility_off'}}</mat-icon>
          </mat-form-field><br>
          <div>
            <button mat-raised-button matStepperPrevious>Back</button>&nbsp;&nbsp;
            <button mat-raised-button matStepperNext>Next</button>
          </div>
      </form>
    </mat-step>
<mat-step [stepControl]="thirdFormGroup" [editable]="isEditable">
  <form (submit)="submitForm($event)">
      <ng-template matStepLabel>Professional Information</ng-template>
    <mat-form-field >
        <input matInput placeholder="Category"  required name="catergory" id="catergory">
      </mat-form-field><br>
      <mat-form-field >
          <input matInput placeholder="Company Name "  required name="Company Name" id="company">
        </mat-form-field><br>
        <mat-form-field >
            <input matInput placeholder="Company Address"  required name="Company Address" id="CompanyAdd">
          </mat-form-field><br>
      <mat-form-field >
          <input matInput placeholder="Details"  required name="Details" id="Details">
        </mat-form-field><br>
      <div>
        <button mat-raised-button matStepperPrevious>Back</button>&nbsp;&nbsp;
        <button mat-raised-button matStepperNext type="submit" >Next</button>
      </div>
  </form>
</mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        You are now done.
        <div>
          <button mat-raised-button matStepperPrevious>Back</button>&nbsp;
          <button mat-raised-button type="submit">submit</button>
        </div>
      </mat-step>
  </mat-horizontal-stepper>
</mat-card>
  </div>

  
 