<div class="set">

<div class="container-fluid">
<div style="color:#2AB967;margin-top:120px;"><h4>Popular Settings</h4></div>
</div>
<div class="card">
  <mat-card>
    <div class="container-fluid">
      <p><i class="fa fa-bell " style="color:#fffffffd;margin-left:10px;"></i>Notification reminder <mat-slide-toggle style="float:right;background-color:#2AB967"></mat-slide-toggle></p>
      
      </div>
  </mat-card>
  <div class="hr"></div>
  <mat-card>
    <div class="container-fluid">
      <p><i class="fa fa-power-off " style="color:#fffffffd;margin-left:10px;"></i>Notification reminder <mat-slide-toggle style="float:right;background-color:#2AB967"></mat-slide-toggle></p>
      </div>
  </mat-card>
  <div class="hr"></div>
  <mat-card>
    <div class="container-fluid">
      <p><i class="fa fa-power-off " style="color:#fffffffd;margin-left:10px;"></i>Add shortcut to desktop <mat-slide-toggle style="float:right;background-color:#2AB967"></mat-slide-toggle></p>
    </div>
  </mat-card>
  </div>
  <mat-divider></mat-divider>

  
  
  
  
  <div class="yes" style="margin-top:-90px;">
      <div class="container-fluid">
    <div style="color:#2AB967;margin-top:100px;"><h4>Common Settings</h4></div>
    </div>
    <div class="card">
      <mat-card>
        <div class="container-fluid">
          <p><i class="fa fa-flash " style="color:#fffffffd;margin-left:10px;"></i>Notification Toggle <mat-slide-toggle style="float:right;background-color:#2AB967"></mat-slide-toggle></p>
           </div>
      </mat-card>
      <div class="hr"></div>
      <mat-card>
        <div class="container-fluid">
          <p><i class="fa fa-volume-up " style="color:#fffffffd;margin-left:10px;"></i>Sound <mat-slide-toggle style="float:right;background-color:#2AB967"></mat-slide-toggle></p>
        </div>
      </mat-card>
      <div class="hr"></div>
      <mat-card>
        <div class="container-fluid">
          <p><i class="fa fa-bell " style="color:#fffffffd;margin-left:10px;"></i>Notification reminder <mat-slide-toggle style="float:right;background-color:#2AB967"></mat-slide-toggle></p>
        </div>
      </mat-card>
      </div>
      </div>


     
     <div class="yes" style="margin-top:-90px;">
        <div class="container-fluid">
        <div style="color:#2AB967;margin-top:100px;"><h4>General Settings </h4></div>
        </div>
        
        <div class="card">
          <mat-card>
          <div class="container-fluid">
           <p><i class="fa fa-star-o " style="color:#fffffffd;margin-left:10px;"></i>Support Us <mat-slide-toggle style="float:right;background-color:#2AB967"></mat-slide-toggle></p>
          </div>
         </mat-card>
         <div class="hr"></div>
        <mat-card>
        <div class="container-fluid">
          <p><i class="fa fa-share " style="color:#fffffffd;margin-left:10px;"></i>Share <mat-slide-toggle style="float:right;background-color:#2AB967"></mat-slide-toggle></p>
        </div>
      </mat-card>
      <div class="hr"></div>
      <mat-card>
      <div class="container-fluid">
      <p><i class="fa fa-warning " style="color:#fffffffd;margin-left:10px;"></i>Privacy <mat-slide-toggle style="float:right;background-color:#2AB967"></mat-slide-toggle></p>
      </div>
      </mat-card>
      </div>
     </div>
    </div>

    
    
