mat-list{
    margin-top: 65px;
    background-color: #f5f5f5
}
.navbar-brand 
{
   margin-left: 0px;
   margin-top: -20px;
}
.fa-align-justify{
    /* color:white; */
}
mat-checkbox{
   color: black;
    font-size: 15px
}
.navbar{
    height: 75px;
}
.v{
    text-align: center
}