<nav style="background-color: #2AB967; " class="navbar navbar-top fixed-top navbar-toggleable navbar-expand-sm navbar-inverse bg-#2AB967  navbar-success">
    <!-- Brand -->
    
    <button class="btn btn-light"><i class="fa fa-align-justify fa-2x"></i></button>
    <a class="navbar-brand text-white " href="#" style="font-size:55px; "><div>Support</div></a>
   
  </nav> 
 
    <mat-list>
      <h2 style="text-align: center;font-size: 30px">Rate Us</h2>
      <mat-divider></mat-divider>
     <mat-checkbox>Happily</mat-checkbox>
      <mat-divider></mat-divider>
      <mat-checkbox>Unhappily</mat-checkbox>
      <mat-divider></mat-divider>
      <mat-checkbox>Confused</mat-checkbox>
    </mat-list>
   
    
