<div class="set">
<div class="cards">
  <mat-card>
      <img src="src/assets/images/e.jpg" class="img-fluid rounded-circle" style="height:50px;float:left">
      <button mat-button style="float:right;color:white;">Cancel</button>
      <h6 style="color:white; text-align:center">Welcome To BETA Tailor iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii</h6>
  </mat-card>

</div>
<mat-divider></mat-divider>
<div class="card">
    <mat-card>
        <img src="src/assets/images/e.jpg" class="img-fluid rounded-circle" style="height:50px;float:left">
        <button mat-button style="float:right;color:white;">Cancel</button>
        <h6 style="color:white; text-align:center">Welcome To BETA Tailor iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii</h6>
    </mat-card>
    </div>
<mat-divider></mat-divider>
<div class="card">
  <mat-card>
      <img src="src/assets/images/e.jpg" class="img-fluid rounded-circle" style="height:50px;float:left">
      <button mat-button style="float:right;color:white;">Cancel</button>
      <h6 style="color:white; text-align:center">Welcome To BETA Tailor iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii</h6>
  </mat-card>
  </div>
  <mat-divider></mat-divider>
  <div class="card">
    <mat-card>
        <img src="src/assets/images/e.jpg" class="img-fluid rounded-circle" style="height:50px;float:left">
        <button mat-button style="float:right;color:white;">Cancel</button>
        <h6 style="color:white; text-align:center">Welcome To BETA Tailor iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii</h6>
    </mat-card>
    </div>
    <mat-divider></mat-divider>  

</div>