<div class="set">
<nav class="navbar navbar-dark navbar-custom navbar-expand-sm fixed-top" style="background-color:#2AB967;">
 
    <a href="" class="nav-link"><i class="fa fa-arrow-circle-left fa-2x" style="color:aliceblue"></i></a>
    <a href="#" class="navbar-brand" style="font-size:40px;"><div>Notification</div></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#me">
      
      </button>
      <div class="collapse navbar-collapse offset-4" id="me">
             
      </div>
  
</nav>
<div class="cards">
  <mat-card>
      <img src="src/assets/images/e.jpg" class="img-fluid rounded-circle" style="height:50px;float:left">
      <button mat-button style="float:right;color:white;">Cancel</button>
      <h6 style="color:white; text-align:center">Welcome To BETA Tailor iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii</h6>
  </mat-card>

</div>
<mat-divider></mat-divider>
<div class="card">
    <mat-card>
        <img src="src/assets/images/e.jpg" class="img-fluid rounded-circle" style="height:50px;float:left">
        <button mat-button style="float:right;color:white;">Cancel</button>
        <h6 style="color:white; text-align:center">Welcome To BETA Tailor iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii</h6>
    </mat-card>
    </div>
<mat-divider></mat-divider>
<div class="card">
  <mat-card>
      <img src="src/assets/images/e.jpg" class="img-fluid rounded-circle" style="height:50px;float:left">
      <button mat-button style="float:right;color:white;">Cancel</button>
      <h6 style="color:white; text-align:center">Welcome To BETA Tailor iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii</h6>
  </mat-card>
  </div>
  <mat-divider></mat-divider>
  <div class="card">
    <mat-card>
        <img src="src/assets/images/e.jpg" class="img-fluid rounded-circle" style="height:50px;float:left">
        <button mat-button style="float:right;color:white;">Cancel</button>
        <h6 style="color:white; text-align:center">Welcome To BETA Tailor iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii</h6>
    </mat-card>
    </div>
    <mat-divider></mat-divider>

  <!-- <div class="car">
    <mat-card style="background-color:#2AB967;color:white;font-family:italic;">
      <img src="src/assets/images/e.jpg" class="img-fluid rounded-circle" style="height:50px;float:left"> 
      <button mat-button style="float:right">Cancel</button>
      <p >Welcome To BETA Tailor iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii</p>
    </mat-card>
    
  </div>
  <div class="hr"></div>
  <div class="ca">
    <mat-card style="background-color:#2AB967;color:white;font-family:italic;">
      <img src="src/assets/images/e.jpg" class="img-fluid rounded-circle" style="height:50px;float:left"> 
      <!-- <button mat-button style="float:right">Cancel</button> -->
      <!-- <p >Welcome To BETA Tailor iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii</p>
    </mat-card>
    
  </div>
  <div class="hr"></div> -->
  


  

</div>