<div *ngIf="denim" class="container">
  <div class="row">
    <div class="header header1">
      <span><a (click)="menu('dashboard')">Home</a> > </span><span><a (click)="menu('categories')">Categories</a></span> > <span><a (click)="menu('fabrics')">Fabrics</a></span> > <span ><a (click)="menu('denim')">Denim</a></span>
      <br /><br />
      <h1 class="text-center">Denim</h1>
      <h6 class="text-center">In need of lovely fabrics and materials for your designs? Pick your choice!</h6>
    </div>
  </div>

  <div class="row r2">
    <div class="col-md-3 col-xs-6">
      <mat-card class="card1 mx-auto">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>Briggs Couture</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="src/assets/images/categories/denim2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <h5 class="text-center">Denim</h5>
          <h6>Brief Description About Product Or Service</h6>
        </mat-card-content>
        <mat-card-actions>
          <div>
            <a href=""><span><i class="material-icons">favorite</i></span></a>
            <button  (click)="buy('denim1')" class="btn btn-success btn-sm pull-right">N1000</button>
            </div>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-md-3 col-xs-6">
        <mat-card class="card1 mx-auto">
          <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>Briggs Couture</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="src/assets/images/categories/denim1.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <h5 class="text-center">Denim</h5>
            <h6>Brief Description About Product Or Service</h6>
          </mat-card-content>
          <mat-card-actions>
            <div>
              <a href=""><span><i class="material-icons">favorite</i></span></a>
              <button class="btn btn-success btn-sm pull-right">N1000</button>
              </div>
          </mat-card-actions>
        </mat-card>
    </div>
      <div class="col-md-3 col-xs-6">
          <mat-card class="card1 mx-auto">
            <mat-card-header>
              <div mat-card-avatar class="header-image"></div>
              <mat-card-title>Briggs Couture</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="src/assets/images/categories/denim3.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <h5 class="text-center">Denim</h5>
              <h6>Brief Description About Product Or Service</h6>
            </mat-card-content>
            <mat-card-actions>
              <div>
                <a href=""><span><i class="material-icons">favorite</i></span></a>
                <button class="btn btn-success btn-sm pull-right">N1000</button>
                </div>
            </mat-card-actions>
          </mat-card>
      </div>
        <div class="col-md-3 col-xs-6">
            <mat-card class="card1 mx-auto">
              <mat-card-header>
                <div mat-card-avatar class="header-image"></div>
                <mat-card-title>Briggs Couture</mat-card-title>
              </mat-card-header>
              <img mat-card-image src="src/assets/images/categories/denim4.jpg" alt="Photo of a Shiba Inu">
              <mat-card-content>
                <h5 class="text-center">Denim</h5>
                <h6>Brief Description About Product Or Service</h6>
              </mat-card-content>
              <mat-card-actions>
                <div>
                  <a href=""><span><i class="material-icons">favorite</i></span></a>
                  <button class="btn btn-success btn-sm pull-right">N1000</button>
                  </div>
              </mat-card-actions>
            </mat-card>
        </div>
  </div>

  <div class="row r2">
      <div class="col-md-3 col-xs-6">
        <mat-card class="card1 mx-auto">
          <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>Briggs Couture</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="src/assets/images/categories/denim2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <h5 class="text-center">Denim</h5>
            <h6>Brief Description About Product Or Service</h6>
          </mat-card-content>
          <mat-card-actions>
            <div>
              <a href=""><span><i class="material-icons">favorite</i></span></a>
              <button class="btn btn-success btn-sm pull-right">N1000</button>
              </div>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-md-3 col-xs-6">
          <mat-card class="card1 mx-auto">
            <mat-card-header>
              <div mat-card-avatar class="header-image"></div>
              <mat-card-title>Briggs Couture</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="src/assets/images/categories/denim2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <h5 class="text-center">Denim</h5>
              <h6>Brief Description About Product Or Service</h6>
            </mat-card-content>
            <mat-card-actions>
              <div>
                <a href=""><span><i class="material-icons">favorite</i></span></a>
                <button class="btn btn-success btn-sm pull-right">N1000</button>
                </div>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="col-md-3 col-xs-6">
            <mat-card class="card1 mx-auto">
              <mat-card-header>
                <div mat-card-avatar class="header-image"></div>
                <mat-card-title>Briggs Couture</mat-card-title>
              </mat-card-header>
              <img mat-card-image src="src/assets/images/categories/denim2.jpg" alt="Photo of a Shiba Inu">
              <mat-card-content>
                <h5 class="text-center">Denim</h5>
                <h6>Brief Description About Product Or Service</h6>
              </mat-card-content>
              <mat-card-actions>
                <div>
                  <a href=""><span><i class="material-icons">favorite</i></span></a>
                  <button class="btn btn-success btn-sm pull-right">N1000</button>
                  </div>
              </mat-card-actions>
            </mat-card>
          </div>
          <div class="col-md-3 col-xs-6">
              <mat-card class="card1 mx-auto">
                <mat-card-header>
                  <div mat-card-avatar class="header-image"></div>
                  <mat-card-title>Briggs Couture</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="src/assets/images/categories/denim2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <h5 class="text-center">Denim</h5>
                  <h6>Brief Description About Product Or Service</h6>
                </mat-card-content>
                <mat-card-actions>
                  <div>
                    <a href=""><span><i class="material-icons">favorite</i></span></a>
                    <button class="btn btn-success btn-sm pull-right">N1000</button>
                    </div>
                </mat-card-actions>
              </mat-card>
            </div>
</div>

<div *ngIf="denim1">
    <app-productD></app-productD>     
</div>

<!-- <div *ngIf="dashboard">
    <app-dashboardhome></app-dashboardhome>     
</div>

<div *ngIf="categories">
    <app-categories></app-categories>     
  </div>

  <div *ngIf="fabrics">
      <app-fabrics></app-fabrics>     
    </div> -->