
   <nav class="navbar navbar-dark navbar-expand-sm fixed-top" id="nav">
      <div class="container-fluid">
        <a href="" class="navbar-brand" style="font-size:55px"><div>Beta</div></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#me">
            <span class="navbar-toggler-icon"></span>
          </button>
      </div>
    </nav>
    <br><br>
<div>
    <img src="assets/images/f.jpg" class="st"/>
    <div>
<p>Name: Delight</p>
<p>Address:</p>
<p>Phone: 08134095437</p>
<p>Email: delightolarinde@gmail.com</p>
</div>
</div>
<mat-tab-group color="warn">
  <mat-tab label="Detail">
    <img src="assets/images/f.jpg" class="st"/>
    <div>
        <p>Name: Delight</p>
        <p>Address:</p>
        <p>Phone: 08134095437</p>
        <p>Email: delightolarinde@gmail.com</p>
        </div>
  </mat-tab>
  <mat-tab label="Measurement"> 

        <p>type:Gown</p>
       <p>Full length - 52inches</p> 
       <p>Back - 15inches</p> 
       <p>Bust - 38inches</p>
       <p>under bust - 36inches</p>
       <p>slim waist - 28inches</p>
       <p>half length - 40inches</p>
       <p>hip waist - 34inches</p>
       <p>hip line - 14inches</p>
       <p>waist line - 14inches</p>
       <p> sleeve - 8inches</p>
       <p>shoulder circumference - 17inches</p>
  
          <!--<mat-form-field>
             <mat-select placeholder="Measurement">
            <mat-option *ngFor="let gender of genders" [value]="gender.value">
              {{gender.viewValue}}
            </mat-option>
          </mat-select> 
        </mat-form-field>-->
  </mat-tab>
  <mat-tab label="Style">
    <img src="assets/images/log4.jpg" style="width: 200px; height:200px; "> <br>
    <mat-form-field>
        <textarea matInput placeholder="Description"></textarea>
        <button mat-button>Job Over</button>

  </mat-form-field>
  </mat-tab>
  <mat-tab label="Past Jobs"> 
    <div class="gid">
      <img src="assets/images/log4.jpg" style="width: 200px; height:200px; ">
          <p>
          <input disabled value="Date:12:09:17"><br>
          <button>Click for more details</button>
          </p>
        </div>
        <div class="gid">
            <img src="assets/images/log4.jpg" style="width: 200px; height:200px; ">
            <p>
                <input disabled value="Date:12:09:17"><br>
                <button>Click for more details</button>
                </p>
              </div>
              <div class="gid">
                  <img src="assets/images/log4.jpg" style="width: 200px; height:200px; ">
                  <p>
                      <input disabled value="Date:12:09:17"><br>
                      <button>Click for more details</button>
                      </p>
                    </div>
                    <div class="gid">
                        <img src="assets/images/log4.jpg" style="width: 200px; height:200px; ">
                        <p>
                            <input disabled value="Date:12:09:17"><br>
                            <button>Click for more details</button>
                            </p>
                          </div>
   </mat-tab>
</mat-tab-group>