

<div class="container-fluid">
    <div class="popular">
      Most Popular Gigs
    </div>
     <div class="row">
         <div class="col-md-4">
             <div class="card" >
                 <img class="card-img-top" src="src/images/male.png">
                 <div class="card-body">
                   <h4 class="card-title">HAY-Y</h4>
                   <p class="card-text">Suit Tailor</p>
                   <span class="fa fa-star checked"></span>
                   <span class="fa fa-star checked"></span>
                   <span class="fa fa-star checked"></span>
                   <span class="fa fa-star"></span>
                   <span class="fa fa-star"></span>
                 </div>
               </div>
         </div>
         <div class="col-md-4">
             <div class="card">
                 <img class="card-img-top" src="src/images/female.png">
                 <div class="card-body">
                   <h4 class="card-title">GLORY</h4>
                   <p class="card-text">Native Tailor</p>
                   <span class="fa fa-star checked"></span>
                   <span class="fa fa-star checked"></span>
                   <span class="fa fa-star "></span>
                   <span class="fa fa-star"></span>
                   <span class="fa fa-star"></span>
                 </div>
               </div>
           </div>
           <div class="col-md-4">
               <div class="card">
                   <img class="card-img-top" src="src/images/male.png">
                   <div class="card-body">
                     <h4 class="card-title">SAMUEL</h4>
                     <p class="card-text">Customiser</p>
                     <span class="fa fa-star checked"></span>
                   <span class="fa fa-star checked"></span>
                   <span class="fa fa-star checked"></span>
                   <span class="fa fa-star checked"></span>
                   <span class="fa fa-star checked"></span>
                   </div>
                 </div>
             </div>
     </div>
  </div>
