
<div class="container">
  <div class="row">
      <div class="header header1">
          <h1 class="text-center">Recently Viewed & More</h1>
      </div>
  </div>
  <div class="row r2">
      <div class="col-md-3 col-xs-6">
          <mat-card class="card1 mx-auto">
            <mat-card-header>
              <div mat-card-avatar class="header-image"></div>
              <mat-card-title>Briggs Couture</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="src/assets/images/categories/denim2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <h5 class="text-center">Denim</h5>
              <h6>Brief Description About Product Or Service</h6>
            </mat-card-content>
            <mat-card-actions>
              <div>
                <a href=""><span><i class="material-icons">favorite</i></span></a>
                <button class="btn btn-success btn-sm pull-right">N1000</button>
                </div>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="col-md-3 col-xs-6">
            <mat-card class="card1 mx-auto">
              <mat-card-header>
                <div mat-card-avatar class="header-image"></div>
                <mat-card-title>Briggs Couture</mat-card-title>
              </mat-card-header>
              <img mat-card-image src="src/assets/images/categories/denim1.jpg" alt="Photo of a Shiba Inu">
              <mat-card-content>
                <h5 class="text-center">Denim</h5>
                <h6>Brief Description About Product Or Service</h6>
              </mat-card-content>
              <mat-card-actions>
                <div>
                  <a href=""><span><i class="material-icons">favorite</i></span></a>
                  <button class="btn btn-success btn-sm pull-right">N1000</button>
                  </div>
              </mat-card-actions>
            </mat-card>
        </div>
          <div class="col-md-3 col-xs-6">
              <mat-card class="card1 mx-auto">
                <mat-card-header>
                  <div mat-card-avatar class="header-image"></div>
                  <mat-card-title>Briggs Couture</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="src/assets/images/categories/denim3.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <h5 class="text-center">Denim</h5>
                  <h6>Brief Description About Product Or Service</h6>
                </mat-card-content>
                <mat-card-actions>
                  <div>
                    <a href=""><span><i class="material-icons">favorite</i></span></a>
                    <button class="btn btn-success btn-sm pull-right">N1000</button>
                    </div>
                </mat-card-actions>
              </mat-card>
          </div>
            <div class="col-md-3 col-xs-6">
                <mat-card class="card1 mx-auto">
                  <mat-card-header>
                    <div mat-card-avatar class="header-image"></div>
                    <mat-card-title>Briggs Couture</mat-card-title>
                  </mat-card-header>
                  <img mat-card-image src="src/assets/images/categories/denim4.jpg" alt="Photo of a Shiba Inu">
                  <mat-card-content>
                    <h5 class="text-center">Denim</h5>
                    <h6>Brief Description About Product Or Service</h6>
                  </mat-card-content>
                  <mat-card-actions>
                    <div>
                      <a href=""><span><i class="material-icons">favorite</i></span></a>
                      <button class="btn btn-success btn-sm pull-right">N1000</button>
                      </div>
                  </mat-card-actions>
                </mat-card>
            </div>
          </div>

            <div class="row r2">
                <div class="col-md-3 col-xs-6">
                  <mat-card class="card1 mx-auto">
                    <mat-card-header>
                      <div mat-card-avatar class="header-image"></div>
                      <mat-card-title>Briggs Couture</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="src/assets/images/categories/denim2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                      <h5 class="text-center">Denim</h5>
                      <h6>Brief Description About Product Or Service</h6>
                    </mat-card-content>
                    <mat-card-actions>
                      <div>
                        <a href=""><span><i class="material-icons">favorite</i></span></a>
                        <button class="btn btn-success btn-sm pull-right">N1000</button>
                        </div>
                    </mat-card-actions>
                  </mat-card>
                </div>
                <div class="col-md-3 col-xs-6">
                    <mat-card class="card1 mx-auto">
                      <mat-card-header>
                        <div mat-card-avatar class="header-image"></div>
                        <mat-card-title>Briggs Couture</mat-card-title>
                      </mat-card-header>
                      <img mat-card-image src="src/assets/images/categories/denim2.jpg" alt="Photo of a Shiba Inu">
                      <mat-card-content>
                        <h5 class="text-center">Denim</h5>
                        <h6>Brief Description About Product Or Service</h6>
                      </mat-card-content>
                      <mat-card-actions>
                        <div>
                          <a href=""><span><i class="material-icons">favorite</i></span></a>
                          <button class="btn btn-success btn-sm pull-right">N1000</button>
                          </div>
                      </mat-card-actions>
                    </mat-card>
                  </div>
                  <div class="col-md-3 col-xs-6">
                      <mat-card class="card1 mx-auto">
                        <mat-card-header>
                          <div mat-card-avatar class="header-image"></div>
                          <mat-card-title>Briggs Couture</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="src/assets/images/categories/denim2.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                          <h5 class="text-center">Denim</h5>
                          <h6>Brief Description About Product Or Service</h6>
                        </mat-card-content>
                        <mat-card-actions>
                          <div>
                            <a href=""><span><i class="material-icons">favorite</i></span></a>
                            <button class="btn btn-success btn-sm pull-right">N1000</button>
                            </div>
                        </mat-card-actions>
                      </mat-card>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <mat-card class="card1 mx-auto">
                          <mat-card-header>
                            <div mat-card-avatar class="header-image"></div>
                            <mat-card-title>Briggs Couture</mat-card-title>
                          </mat-card-header>
                          <img mat-card-image src="src/assets/images/categories/denim2.jpg" alt="Photo of a Shiba Inu">
                          <mat-card-content>
                            <h5 class="text-center">Denim</h5>
                            <h6>Brief Description About Product Or Service</h6>
                          </mat-card-content>
                          <mat-card-actions>
                            <div>
                              <a href=""><span><i class="material-icons">favorite</i></span></a>
                              <button class="btn btn-success btn-sm pull-right">N1000</button>
                              </div>
                          </mat-card-actions>
                        </mat-card>
                      </div>
          </div>
      </div>
    <!-- <div class="popular">
      Most Popular Gigs
    </div>
     <div class="row">
         <div class="col-md-4">
             <div class="card" >
                 <img class="card-img-top" src="src/images/male.png">
                 <div class="card-body">
                   <h4 class="card-title">HAY-Y</h4>
                   <p class="card-text">Suit Tailor</p>
                   <span class="fa fa-star checked"></span>
                   <span class="fa fa-star checked"></span>
                   <span class="fa fa-star checked"></span>
                   <span class="fa fa-star"></span>
                   <span class="fa fa-star"></span>
                 </div>
               </div>
         </div>
         <div class="col-md-4">
             <div class="card">
                 <img class="card-img-top" src="src/images/female.png">
                 <div class="card-body">
                   <h4 class="card-title">GLORY</h4>
                   <p class="card-text">Native Tailor</p>
                   <span class="fa fa-star checked"></span>
                   <span class="fa fa-star checked"></span>
                   <span class="fa fa-star "></span>
                   <span class="fa fa-star"></span>
                   <span class="fa fa-star"></span>
                 </div>
               </div>
           </div>
           <div class="col-md-4">
               <div class="card">
                   <img class="card-img-top" src="src/images/male.png">
                   <div class="card-body">
                     <h4 class="card-title">SAMUEL</h4>
                     <p class="card-text">Customiser</p>
                     <span class="fa fa-star checked"></span>
                   <span class="fa fa-star checked"></span>
                   <span class="fa fa-star checked"></span>
                   <span class="fa fa-star checked"></span>
                   <span class="fa fa-star checked"></span>
                   </div>
                 </div>
             </div>
     </div>
  </div> -->
