<header>
   
    <div class="segment">
        <div class="text-img">
         <span class="text-imgone"><b>About Beta</b></span> <br><span class="text-imgtwo">How It Looks</span>
         <div class="search-all"><input type="text" placeholder="What service are you looking for?" id="text-one"><button id="btn-one"><i class="fa fa-search" style="padding-right:10px;"></i><span class="text-search">Search</span></button></div>
        </div>
        </div>
   </header>
   <div class="card">
      <mat-card>
          <span>About</span> <br>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae saepe excepturi nulla similique eum reiciendis repudiandae vel officia. Veritatis, ratione voluptate. Harum quisquam libero dolores quod? Neque aliquam excepturi aliquid?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae saepe excepturi nulla similique eum reiciendis repudiandae vel officia. Veritatis, ratione voluptate. Harum quisquam libero dolores quod? Neque aliquam excepturi aliquid?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae saepe excepturi nulla similique eum reiciendis repudiandae vel officia. Veritatis, ratione voluptate. Harum quisquam libero dolores quod? Neque aliquam excepturi aliquid?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae saepe excepturi nulla similique eum reiciendis repudiandae vel officia. Veritatis, ratione voluptate. Harum quisquam libero dolores quod? Neque aliquam excepturi aliquid?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae saepe excepturi nulla similique eum reiciendis repudiandae vel officia. Veritatis, ratione voluptate. Harum quisquam libero dolores quod? Neque aliquam excepturi aliquid?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae saepe excepturi nulla similique eum reiciendis repudiandae vel officia. Veritatis, ratione voluptate. Harum quisquam libero dolores quod? Neque aliquam excepturi aliquid?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae saepe excepturi nulla similique eum reiciendis repudiandae vel officia. Veritatis, ratione voluptate. Harum quisquam libero dolores quod? Neque aliquam excepturi aliquid?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae saepe excepturi nulla similique eum reiciendis repudiandae vel officia. Veritatis, ratione voluptate. Harum quisquam libero dolores quod? Neque aliquam excepturi aliquid?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae saepe excepturi nulla similique eum reiciendis repudiandae vel officia. Veritatis, ratione voluptate. Harum quisquam libero dolores quod? Neque aliquam excepturi aliquid?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae saepe excepturi nulla similique eum reiciendis repudiandae vel officia. Veritatis, ratione voluptate. Harum quisquam libero dolores quod? Neque aliquam excepturi aliquid?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae saepe excepturi nulla similique eum reiciendis repudiandae vel officia. Veritatis, ratione voluptate. Harum quisquam libero dolores quod? Neque aliquam excepturi aliquid?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae saepe excepturi nulla similique eum reiciendis repudiandae vel officia. Veritatis, ratione voluptate. Harum quisquam libero dolores quod? Neque aliquam excepturi aliquid?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae saepe excepturi nulla similique eum reiciendis repudiandae vel officia. Veritatis, ratione voluptate. Harum quisquam libero dolores quod? Neque aliquam excepturi aliquid?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae saepe excepturi nulla similique eum reiciendis repudiandae vel officia. Veritatis, ratione voluptate. Harum quisquam libero dolores quod? Neque aliquam excepturi aliquid?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae saepe excepturi nulla similique eum reiciendis repudiandae vel officia. Veritatis, ratione voluptate. Harum quisquam libero dolores quod? Neque aliquam excepturi aliquid?
         
         </mat-card>    
   </div>


   <div class="container-fluid footer-500">
      <div class="foot-beta">
          Beta<sup>&copy;</sup>
        </div>
      <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title style="color:#555555">
               Categories
              </mat-panel-title>
            </mat-expansion-panel-header>
            <span>Native Tailors</span> <br>
                  <span>Suit Tailors</span> <br>
                  <span>Corporate Tailors</span> <br>
                  <span>Cap Tailors</span> <br>
                  <span>Fashion Designer</span> <br>
                  <span>Material sellers</span> <br>
                  <span>Casual Tailors</span> <br>
                  <span>Caps</span> <br>
                  <span>Facilities Repairers</span> <br>
                  <span>Customiser</span> <br> 
          </mat-expansion-panel>
          <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                 About
                </mat-panel-title>
              </mat-expansion-panel-header>
                  <span>Native Tailors</span> <br>
                  <span>Careers</span> <br>
                  <span>Press & News</span> <br>
                  <span>Intellectual Property Claims</span> <br>
                  <span>Terms of Service</span> <br>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                   Support
                  </mat-panel-title>
                </mat-expansion-panel-header>
                    <span>Contact Support</span> <br>
                    <span>Help & Education</span> <br>
                    <span>Trust & Safety</span> <br>
                    <span>Selling on Beta</span> <br>
                    <span>Buying on Beta</span> <br> 
              </mat-expansion-panel>
              <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                     Privacy Policy
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                    <span>Policy</span> <br>
                    <span>Partnerships</span> <br>
                    <span>Exclusive Benefits</span> <br>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                       Categories
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                          <span>Events</span> <br> 
                          <span>Blogs</span> <br> 
                          <span>Forum</span> <br> 
                          <span>Podcast</span> <br> 
                          <span>Affiliates</span> <br> 
                          <span>Invite a Friend</span> <br>
                  </mat-expansion-panel>
        </mat-accordion>
        <hr>
      <div class="foot-under"><sup>&copy;</sup>Beta-Tailor-Team-2018</div>
     
  </div>
  
    
  
  <footer>
      <div class="container">
        <div class="foot-beta">
          Beta<sup>&copy;</sup>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-4">
                <div class="foot-one"><b>Categories</b></div>
                <span>Native Tailors</span> <br>
                <span>Suit Tailors</span> <br>
                <span>Corporate</span> <br>
                <span>Cap Tailors</span> <br>
                <span>DesignerS</span> <br>
                <span>Casual Tailors</span> <br>
                <span>Customiser</span> <br>               
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-3">
                <div class="foot-one"><b>About</b></div>
                <span>Careers</span> <br>
                <span>Press & News</span> <br>
                <span>Intellectual Property Claims</span> <br>
                <span>Terms of Service</span> <br>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-3">
                  <div class="foot-one"><b>Support</b></div>
                  <span>Contact Support</span> <br>
                <span>Help & Education</span> <br>
                <span>Trust & Safety</span> <br>
                <span>Selling on Beta</span> <br>
                <span>Buying on Beta</span> <br>           
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-3">
                    <div class="foot-one"><b>Privacy Policy</b></div>
                    <span>Policy</span> <br>
                <span>Partnerships</span> <br>
                <span>Exclusive Benefits</span> <br>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-3">
                      <div class="foot-one"><b>Community</b></div>
                <span>Events</span> <br> 
                <span>Blogs</span> <br> 
                <span>Forum</span> <br> 
                <span>Podcast</span> <br> 
                <span>Affiliates</span> <br> 
                <span>Invite a Friend</span> <br> 
                    </div>
        </div>
        <hr>
        <div class="foot-under"><sup>&copy;</sup>Beta-Tailor-Team-2018</div>
      </div>
    </footer>
  
                

