<nav class="navbar navbar-dark navbar-custom navbar-expand-sm fixed-top" id="nav">
    <div class="container-fluid">
      <a href="" class="nav-link"><i class="fa fa-arrow-circle-left fa-2x"></i></a>
      <a href="" class="navbar-brand" style="font-size:55px"><div>Beta</div></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#me">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse offset-4" id="me">
               
        </div>
    </div>
  </nav>
  <main>
    <div class="text-center">
      <span id="abt">Welcome to</span><span id="bet"> Beta </span><span id="abt">Support</span>
    </div>
    <div id="work" class="text-center">We are here to help</div>
    <div class="search">
        <input type="text" placeholder="Search anything" id="text-one"><button id="btn-one"><i class="fa fa-search" style="padding-right:10px;"></i>Search</button>
    </div>
  </main>