<div *ngIf="clientall">
  <div class="container form-search">
    <span class="input-group">
        <span class="input-group-addon"><button class="btn-search"><i class="fa fa-search"></i></button><input type="text" placeholder="search anything..." class="search"></span>
     </span>
  </div>
  <div class="container-fluid card">
    <a (click)="changeit('det')"><mat-card>
           <mat-card-header>
            <img src="src/assets/images/male.png" class="img-fluid rounded-circle " id="no" mat-card-avatar>        
              <mat-card-title><b>Kolade Money</b><i class="fa fa-chevron-right"></i></mat-card-title> 
            </mat-card-header>
          </mat-card></a>
  
                 
    <mat-card>
      <mat-card-header>
       <img src="src/assets/images/male.png" class="img-fluid rounded-circle " id="no" mat-card-avatar>        
         <mat-card-title><b>Jay Jay</b><i class="fa fa-chevron-right"></i></mat-card-title>
       </mat-card-header>
     </mat-card>
  
                        
    <mat-card>
      <mat-card-header>
       <img src="src/assets/images/female.png" class="img-fluid rounded-circle " id="no" mat-card-avatar>        
         <mat-card-title><b>Delight Gold</b><i class="fa fa-chevron-right"></i></mat-card-title>
       </mat-card-header>
     </mat-card>
  
                         
    <mat-card>
      <mat-card-header>
       <img src="src/assets/images/female.png" class="img-fluid rounded-circle " id="no" mat-card-avatar>        
         <mat-card-title><b>Tawa Gold</b><i class="fa fa-chevron-right"></i></mat-card-title>
       </mat-card-header>
     </mat-card>
  
  
     <mat-card>
      <mat-card-header>
       <img src="src/assets/images/male.png" class="img-fluid rounded-circle " id="no" mat-card-avatar>        
         <mat-card-title><b>Aylalah</b><i class="fa fa-chevron-right"></i></mat-card-title>
       </mat-card-header>
     </mat-card>
  
     <mat-card>
      <mat-card-header>
       <img src="src/assets/images/male.png" class="img-fluid rounded-circle " id="no" mat-card-avatar>        
         <mat-card-title><b>Agba Awo Sam</b><i class="fa fa-chevron-right"></i></mat-card-title>
       </mat-card-header>
     </mat-card>
  
     <mat-card>
      <mat-card-header>
       <img src="src/assets/images/male.png" class="img-fluid rounded-circle " id="no" mat-card-avatar>        
         <mat-card-title><b>Pablo vad</b><i class="fa fa-chevron-right"></i></mat-card-title>
       </mat-card-header>
     </mat-card>
  
            <mat-card>
              <mat-card-header>
               <img src="src/assets/images/male.png" class="img-fluid rounded-circle " id="no" mat-card-avatar>        
                 <mat-card-title><b>Gloryfet Siefer</b><i class="fa fa-chevron-right"></i></mat-card-title>
               </mat-card-header>
             </mat-card>
  
            
  
    
  </div>
</div>
<div *ngIf="detailall">
    <app-details></app-details>
</div>