<nav class="navbar navbar-dark navbar-custom navbar-expand-sm fixed-top" id="nav">
  <div class="container-fluid">
   <i class="fa fa-users fa-2x"></i>
    <a href="#" class="navbar-brand" style="font-size:55px"><div>Clients</div></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#me">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse offset-4" id="me">
             
      </div>
  </div>
</nav>
<div class="container-fluid" style="margin-top:90px">

  
<input type="text" placeholder="Search Customer"  id="io"><button class="fa fa-search btn btn-success btn-lg" id="p">Search</button>
 

          
  <mat-card>
         <mat-card-header>
          <img src="src/assets/images/e.jpg" class="img-fluid rounded-circle " id="no" mat-card-avatar>        
            <mat-card-title><h4>Kolade Money</h4></mat-card-title>
            <a href="details"><span class="fa fa-chevron-right" style="margin-left:70%; margin-top:50px"></span></a>
          </mat-card-header>
        </mat-card>

               
  <mat-card>
    <mat-card-header>
     <img src="src/assets/images/man.png" class="img-fluid rounded-circle " id="no" mat-card-avatar>        
       <mat-card-title><h4>Jay Jay</h4></mat-card-title>
     </mat-card-header>
   </mat-card>

                      
  <mat-card>
    <mat-card-header>
     <img src="src/assets/images/fyt.jpg" class="img-fluid rounded-circle " id="no" mat-card-avatar>        
       <mat-card-title><h4>Delight Gold</h4></mat-card-title>
     </mat-card-header>
   </mat-card>

                       
  <mat-card>
    <mat-card-header>
     <img src="src/assets/images/login.jpg" class="img-fluid rounded-circle " id="no" mat-card-avatar>        
       <mat-card-title><h4>Tawa Gold</h4></mat-card-title>
     </mat-card-header>
   </mat-card>


   <mat-card>
    <mat-card-header>
     <img src="src/assets/images/z.jpg" class="img-fluid rounded-circle " id="no" mat-card-avatar>        
       <mat-card-title><h4>Aylalah</h4></mat-card-title>
     </mat-card-header>
   </mat-card>

   <mat-card>
    <mat-card-header>
     <img src="src/assets/images/f.jpg" class="img-fluid rounded-circle " id="no" mat-card-avatar>        
       <mat-card-title><h4>Agba Awo Sam</h4></mat-card-title>
     </mat-card-header>
   </mat-card>

   <mat-card>
    <mat-card-header>
     <img src="src/assets/images/nj.jpg" class="img-fluid rounded-circle " id="no" mat-card-avatar>        
       <mat-card-title><h4>Pablo vad</h4></mat-card-title>
     </mat-card-header>
   </mat-card>

          <mat-card>
            <mat-card-header>
             <img src="src/assets/images/log4.jpg" class="img-fluid rounded-circle " id="no" mat-card-avatar>        
               <mat-card-title><h4>Gloryfet Siefer</h4></mat-card-title>
             </mat-card-header>
           </mat-card>

          

  
</div>