<button mat-button [matMenuTriggerFor]="menu" id="nav">BETA</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>
<main>
  <div id="color">
    <div class='container'>
      <div>
        <h2>
          LOG IN
        </h2>
        <div class="example-container">
          <mat-form-field>
            <input matInput placeholder="Enter your email" required>            
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
          
          <mat-form-field>
            <input matInput placeholder="password" required>            
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
          <mat-slider>jkjksdjkj</mat-slider>
          <mat-slide-toggle>samuel is here</mat-slide-toggle>
        </div>
      </div>
      <mat-checkbox>samuel tailor</mat-checkbox>
    </div>
  </div>
</main>


<!--<mat-form-field class="example-form-field">
  <input matInput type="text" placeholder="Clearable input" [(ngModel)]="value">
  <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>-->