<nav class="navbar navbar-dark navbar-custom navbar-expand-sm fixed-top" id="nav">
        <div class="container-fluid">
         <i class="fa fa-users fa-2x"></i>
          <a href="#" class="navbar-brand" style="font-size:55px"><div>DETAILS</div></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#me">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse offset-4" id="me">
                   
            </div>
        </div>
      </nav>

      <mat-card style="margin-top:85px;background-color: #2AB967;">
          <div class="row">
            <div class="col-md-6">
                    <img src="src/assets/images/man.png"  style="width:70%"> 
            </div>

            
            <div class="col-md-6">
                    <div class="row">
                <div class="col-md-2">
                    Firstname:
                </div>
                <div class="col-md-2">
                        Kolade
                </div>
            </div>
          </div>
          
          
        </div>
      
      </mat-card>

<mat-tab-group>
    <mat-tab label="All jobs"> 
        <div class="container">
        <div class="row">
        <div class="col-md-6">
                <img src="src/assets/images/e.jpg"  style="width:70%"> 
        </div>
        <div class="col-md-6">
                <img src="src/assets/images/e.jpg" style="width:70%"> 
        </div>
    </div>
    </div>
            
     </mat-tab>
    <mat-tab label="Pending"> Content 2 </mat-tab>
   
  </mat-tab-group>

