<mat-sidenav-container class="sidenav-container">
    <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true">
    <!-- <mat-toolbar color="">Menu</mat-toolbar> -->
    <mat-nav-list>
        <span><img src="src/assets/images/male.png" class="img-fluid rounded-circle"><br><b>corlard3y</b></span> <hr>    
      <a mat-list-item href="#">Home</a>
      <a mat-list-item href="#">Inbox</a>
      <a mat-list-item href="#">Notifications</a>
      <a mat-list-item href="#">Online Status<mat-slide-toggle></mat-slide-toggle> </a> <hr>
      <a mat-list-item href="#">Manage Jobs</a>
      <a mat-list-item href="#">My Clients</a>
      <a mat-list-item href="#">My Services</a>
      <a mat-list-item href="#">My profile</a> <hr>
      <a mat-list-item href="#">Settings</a>
      <a mat-list-item href="#">Support</a>
      <a mat-list-item href="#">View as Client</a>
      <a mat-list-item href="#">Logout</a>    
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="fixed-top" color="">
      <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle()">
      <i class="fa fa-bars"></i>
    </button>
    <span class="beta">Beta</span>
    </mat-toolbar>
    <div>
  <app-sidenav></app-sidenav>      
    </div>
  </mat-sidenav-content>
  </mat-sidenav-container>
  
     