
  <div class="container form-search">
      <span class="input-group">
          <span class="input-group-addon"><button class="btn-search"><i class="fa fa-search"></i></button><input type="text" placeholder="search anything..." class="search"></span>
       </span>
</div>

<div class="container-fluid">
<hr>
<div class="row img-text">
<div>
    <img src="src/assets/images/male.png" class="img-fluid rounded-circle"> <br>
    <b>corlard3y</b>
  </div>
</div>
<hr>
</div>

<div class="container-fluid">
<div class="info">Fullname<span class="info-right">Delight Delight</span></div>
<div class="info word">Username<span class="info-right">Delight99</span></div>
<div class="info word">Email<span class="info-right">delight@gmail.com</span></div>
<div class="info word">Phone Number<span class="info-right">08041941966</span></div>
<div class="info word">Fullname<span class="info-right">Delight Delight</span></div>
<div class="info word">Response<span class="info-right">24 Hrs</span></div>     
</div>
<div class="container-fluid">
<div class="row">
<div class="col-md-6 col-sm-6 col-xs-6">
  <mat-card >Response rate<span>96%</span></mat-card>
</div> 
<div class="col-md-6 col-sm-6 col-xs-6">
  <mat-card >Orders completed<span>5 orders</span></mat-card>
</div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-6 col-xs-6">
    <mat-card >Ontime Delivery<span>65%</span></mat-card>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-6">
    <mat-card>Your ratings<span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></mat-card>
  </div>
</div>
</div>

<div class="foot container-fluid text-muted mt-5">
<div class="row" style="margin-left: 70px;padding-top: 20px">
  <div class="col-md-8">
    <div class="foot-foot"><b style="color: #fff;padding-right: 10px">Buying on Beta   </b> Buyer Safety centre|Beta Buyer Protection|How to Shop on Beta|Beta Return Policy|Delivery</div>
    <hr>
    <div class="foot-foot"><b>Beta</b></div>
    <div  class="foot-foot">Contact Us|About Us|Forum|Careers|Become an Affiliate|FAQ|Site Map|Our Blog|e-Gift Voucher|Bulk Purchase|Track My Order|Seller academy|Delivery</div>
    <hr>
    <div  class="foot-foot"><b style="color: #fff;padding-right: 10px">Payment</b> BetaPay |Wallet|</div>
  </div>
  <div class="col-md-4">
    <div class="foot-foot"><b>Shop Easter</b></div>
    <div><span class="foot-foot">Download the Beta Mobile App Today</span></div>
    <div class="foot-foot"><b>Newsletter</b></div>
    <div style="font-size: 10px;padding-bottom: 10px;color: #fff">Subscribe for Special Offers,Promos & Deals</div>
    <div class="foot-foot">Keep In Touch<br>
      01 460 5555 or 0809 460 5555
    </div>
  </div>
</div> 

