.container-fluid{overflow: hidden;margin-bottom: 1pc}
 .form-search{margin-top: 4.5pc;}
 .fa-star{color: orange}
 @media(min-width:1050px) and (max-width:2500px){
    .footer-500{display: none}
}
 .input-group{
     height: 30px;background-color: transparent;border: none}
 .input-group-addon{height: 30px;background-color: transparent;border: none}
 
 .search
 {
     width:67pc;
     height:40px;
     border-style: none;
     padding-left: 5px;
     border-top-right-radius: 20px;border-bottom-right-radius: 20px;
     border: 1px solid #EAEAEA;border-left: none
 }
 .btn-search
 {
    width:30px;
    height: 40px;
    border-style: none;
    padding: 2px;
    background-color: white;
    border-top-left-radius: 25px;border-bottom-left-radius: 25px;padding-left: 5px;
    border: 1px solid #EAEAEA;border-right: none
 }
 .form-icon
 {
    margin-top: 15px;margin-left: 77%;
 }
 .fa-search{color: #555555}
 .mat-card
 {
 margin-top: 10px;width:100%;color:black;font-size: 14px;background-color: #E3E3E3;
 }
 .mat-card span{
     border: 1px solid white;color:black;
     padding: 2px;background-color: white;border-radius: 3px;float: right;
 }
 .rounded-circle{margin-left:524.5px}
.img-text b{margin-left: 626.8px;font-size: 25px}
.info{font-size: 14px;
    border-bottom: 1px solid #E5E5E5;
    width: 100%;padding-bottom: 15px
}.word{padding-top: 15px;width: 100% }
.info-right{float: right}
footer
{
    background-color: #FAFAFA;
    border-top:1px solid #E5E5E5;
    padding-top: 1pc;
    padding-bottom: 2pc;
}
.foot-one
{
    color:#555555;
    margin-bottom: 1pc;
}

footer span
{
    color:#777777;
    font-size:14px;
    margin-bottom: 1pc;
}
.foot-beta
{
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#555555;
    margin-bottom: 1pc;
}
.foot-under
{
    font-size: 13px;
    color:#777777;
}
@media (max-width: 375px) {
.beta
{
    font-size: 35px;
}
.form-search{margin-top: 4.2pc;}
    .mat-card{margin-top: 5px;width:100%}
.rounded-circle{height: 120px;margin-left: 120px}
.img-text b{margin-left: 140px;font-size: 19px}
.search
 {
     width:17pc;}

.footer-500
{
    background-color: #FAFAFA;
    border-top:1px solid #E5E5E5;
    padding-top:1pc;
    padding-bottom: 2pc;
}
mat-expansion-panel{background-color: #FAFAFA}
footer{display: none;}	
}
@media (max-width: 430px) and (min-width:400px) {
    .navbar-toggler-icon{display: none;}
    .beta
    {
        font-size: 35px;
    }
.form-search{margin-top: 4.2pc;}
    
    .form-icon{
        position: absolute;top: 20px;left:80%;
        margin-left:5% }
        .mat-card{margin-top: 5px;width:100%}
    .rounded-circle{height: 120px;margin-left: 150px}
    .img-text b{margin-left: 170px;font-size: 19px}
    .search
     {
         width:20pc;}
    .footer-500
{
    background-color: #FAFAFA;
    border-top:1px solid #E5E5E5;
    padding-top:1pc;
    padding-bottom: 2pc;
}
mat-expansion-panel{background-color: #FAFAFA}
footer{display: none;}	
}
    @media (max-width: 770px) and (min-width:750px) {
        .navbar-toggler-icon{display: none;}
        .beta
        {
            font-size: 35px;
        }
.form-search{margin-top: 4.5pc;}
        
        .form-icon{
            position: absolute;top: 20px;left:80%;
            margin-left:5% }
            .mat-card{margin-top: 5px;width:100%}
        .rounded-circle{height: 150px;margin-left: 320px}
        .img-text b{margin-left: 340px;font-size: 19px}
        .search
         {
             width:37pc;}
.footer-500{display: none}
             
        }
        @media (max-width: 1030px) and (min-width:1000px) {
            .navbar-toggler-icon{display: none;}
            .beta
            {
                font-size: 35px;
            }
.form-search{margin-top: 4.5pc;}
            
            .form-icon{
                position: absolute;top: 20px;left:80%;
                margin-left:5% }
                .mat-card{margin-top: 5px;width:100%}
            .rounded-circle{height: 120px;margin-left: 450px}
            .img-text b{margin-left: 470px;font-size: 19px}
            .search
             {
                 width:55pc;}
.footer-500{display: none}
                 
            }

  