<nav class="navbar navbar-dark navbar-custom navbar-expand-sm fixed-top" id="nav">
  <div class="container-fluid">
    <a href="" class="navbar-brand" style="font-size:55px"><div>Beta</div></a>
  </div>
</nav>
<nav class="navbar-default navbar-right" role="navigation">
  <div class="sidebar-collapse">
      <ul class="" id="">
          <li>
              <div class="img-responsive">
                  <img src="assets/images/e.jpg" class="img-circle" width="50px"/>
                </div>
                  <div class="">
                     
                  <br />
                  
              </div>

          </li>


           <li>
              <a class="" href="">Home</a>
          </li>
                  <li>
                      <a href="">Inbox</a>
                  </li>
                  <li>
                      <a href="">Notifications</a>
                  </li>
                  <li>
                      <a href="">Catergories</a>
                  </li>
                   <li>
                      <a href="">Tailors</a>
                  </li>
                   <li>
                      <a href="">Make Special Request</a>
                  </li>
                  <li>
                    <a href="">Support</a>
                </li>
                <li>
                  <a href="">Online Status</a>
                </li>
              <li>
                <a href="">Setting</a>
            </li>
      </ul>
</div>
</nav>
<div class="container-fluid">


</div>
