<!-- <mat-sidenav-container class="sidenav-container" id="sidenav-container">
  <mat-sidenav
  #drawer
  class="sidenav" id="sidenav"
  fixedInViewport="true">
  <mat-nav-list>
      <span><img src="src/assets/images/male.png" class="img-fluid rounded-circle"><br><b>corlard3y</b></span> <hr>    
    <a mat-list-item  routerLink="/tailor">Home</a>
    <a mat-list-item href="#">Inbox</a>
    <a mat-list-item href="#">Notifications</a>
    <a mat-list-item href="#">Online Status<mat-slide-toggle></mat-slide-toggle> </a> <hr>
    <a mat-list-item routerLink="/tailor">Manage Jobs</a>
    <a mat-list-item routerLink="/tailor">My Clients</a>
    <a mat-list-item routerLink="/tailor">My Earnings</a>
    <a mat-list-item routerLink="/tailor">My Services</a><hr>
    <a mat-list-item routerLink="/tailor">My profile</a> 
    <a mat-list-item routerLink="/tailor">Support</a>
    <a mat-list-item routerlink="r">View as Client</a>
    <a mat-list-item href="">Logout</a>    
  </mat-nav-list>
</mat-sidenav>
<mat-sidenav-content>
  <mat-toolbar class="fixed-top" color="">
    <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()">
    <i class="fa fa-bars"></i>
  </button>
  <span class="beta">Beta</span>
  </mat-toolbar> -->
<div *ngIf="managejob">
  <div class="container form-search">
    <span class="input-group">
        <span class="input-group-addon"><button class="btn-search"><i class="fa fa-search"></i></button><input type="text" placeholder="search anything..." class="search"></span>
     </span>
  </div>
  <div class="container-fluid head">
    <span><a (click)="change('man')">Manage Clients</a></span> > <span><a >Manage Jobs</a></span>
  </div>
<div class="container-fluid all">
      <mat-card>
          <div class="row">
            <div class="col-md-6">
                    <img src="src/assets/images/female.png"class="img-fluid rounded-circle"> 
            </div>
            <div class="col-md-6">
               <span class="full-cli"><b>Client Details</b></span>
               <div>Fullname<span>Delight delight</span></div>
               <hr>
               <div>Username<span>Delight99</span></div>
               <hr>
               <div>Email<span>delightolarinde@gmail.com</span></div>
               <hr>
               <div>Phone Number<span>08012345678</span></div>
               <hr>
               <div>Address<span>Pako street,Illy</span></div>
               <hr>
            </div>       
           </div>      
      </mat-card>
      </div>


<mat-tab-group color="warn">
    <mat-tab label="Style">
        <div class="card" >
            <img class="card-img-top" src="assets/images/log4.jpg">
            <div class="card-body">
              <h4 class="card-title">Job Description</h4>
              <p class="card-text">Native</p>
              <button mat-button>Job Over</button>
            </div>
          </div>
       
      </mat-tab>
  <mat-tab label="Measurement"> 
      <mat-list role="list">
          <mat-list-item role="listitem">Type:Gown</mat-list-item>
          <mat-list-item role="listitem">Full length - 52inches</mat-list-item>
          <mat-list-item role="listitem">Back - 15inches</mat-list-item>
          <mat-list-item role="listitem">Bust - 38inches</mat-list-item>
          <mat-list-item role="listitem">Under bust - 36inches</mat-list-item>
          <mat-list-item role="listitem">Slim waist - 28inches</mat-list-item>
          <mat-list-item role="listitem">Half length - 40inches</mat-list-item>
          <mat-list-item role="listitem">Hip waist - 34inches</mat-list-item>
          <mat-list-item role="listitem">Hip line - 14inches</mat-list-item>
          <mat-list-item role="listitem">Waist line - 14inches</mat-list-item>
          <mat-list-item role="listitem">Sleeve - 8inches</mat-list-item>
          <mat-list-item role="listitem">Shoulder circumference - 17inches</mat-list-item>
        </mat-list>  
  </mat-tab>
  <mat-tab label="Past Jobs"> 
      <div class="container">
          <div class="row">
          <div class="col-md-4">
                  <div class="card" >
                    <img class="card-img-top" src="assets/images/log4.jpg">
                    <div class="card-body">
                      <h4 class="card-title">Job Description</h4>
                      <p class="card-text">Native</p>
                    </div>
                  </div>
          </div>
          <div class="col-md-4">
              <div class="card" >
                  <img class="card-img-top" src="assets/images/log4.jpg">
                  <div class="card-body">
                    <h4 class="card-title">Job Description</h4>
                    <p class="card-text">Native</p>
                    
                  </div>
                </div>
          </div>
          <div class="col-md-4">
              <div class="card" >
                  <img class="card-img-top" src="assets/images/log4.jpg">
                  <div class="card-body">
                    <h4 class="card-title">Job Description</h4>
                    <p class="card-text">Native</p>
                 
                  </div>
                </div>
          </div>
      </div>
      </div>
              
   </mat-tab>
</mat-tab-group>
</div>
<div *ngIf="manager">
  <app-manage></app-manage>
</div>
 
 
<!-- </mat-sidenav-content>
</mat-sidenav-container> -->

