
#sidenav-container{
    height: 100vh;
  }

  #sidenav{
    width:240px;
    box-shadow: 3px 0 6px rgba(0,0,0,.24); 
  }
  .head{
    font-size: 14px;
    margin-top: 1pc
}
.head span a{color:#555555}
.head span a:hover{color:#2AB967;text-decoration: underline}
  mat-toolbar
  {
      background-color: #2ab967;
      color: white
  }
  .beta{font-size: 35px}
  mat-nav-list .rounded-circle{height: 80px;margin-left: 80px;margin-top: 5px}
  mat-nav-list span b{margin-left: 80px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#777777;}
  mat-nav-list a{height: 35px;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#777777;
}
  hr{padding: 0px;margin-left: 1pc;margin-right: 1pc}
.form-search{margin-top: 5pc;}
.input-group{
  height: 30px;background-color: transparent;border: none}
.input-group-addon{height: 30px;background-color: transparent;border: none}
.search
 {
     width:67pc;
     height:40px;
     border-style: none;
     padding-left: 5px;
     border-top-right-radius: 20px;border-bottom-right-radius: 20px;
     border: 1px solid #EAEAEA;border-left: none
 }
 .btn-search
 {
    width:30px;
    height: 40px;
    border-style: none;
    padding: 2px;
    background-color: white;
    border-top-left-radius: 25px;border-bottom-left-radius: 25px;padding-left: 5px;
    border: 1px solid #EAEAEA;border-right: none
 }
 .form-icon
 {
    margin-top: 15px;margin-left: 77%;
 }
 .fa-search{color: #555555}

mat-card{background-color: #FCFCFB;}
.col-md-6 div span{float: right}
.col-md-6 div
{
    font-size: 17px;
}
.full-cli
{
    margin-left: 30%;
    font-size: 20px
}
.st
{
    width:100px;
    height:100px;
    border-radius: 50px;
}
li
{
    text-decoration: none;
    display: inline;
    padding:20px;
}
.gid
{
    display: inline;
}
.card-img-top
{
    height: 400px;width:350px;
}
.rounded-circle{margin-left: 80px}
@media (max-width: 375px) {
    .search
   {
       width:17pc;}
.rounded-circle{margin-left: 0px}
       
  }
  @media (max-width: 430px) and (min-width:400px) {
  .search{width:20pc}
  .rounded-circle{margin-left: 0px}
  .card-img-top
{
    height: 400px;width:380px;
}
  }
  @media (max-width: 770px) and (min-width:750px) {
  .search{width:37pc}
.rounded-circle{margin-left: 0px}
.card-img-top
{
    height: 300px;width:250px;
}
  }
  @media (max-width: 1030px) and (min-width:1000px) {
  .search{width:55pc;}
.rounded-circle{margin-left: 50px}
.card-img-top
{
    height: 350px;width:300px;
}
  }
 