<nav class="navbar navbar-dark navbar-custom navbar-expand-sm fixed-top" style="background-color:#2AB967;height:12vh">
    <div class="container-fluid">
      <a href="login"><i class="fa fa-arrow-circle-left fa-2x" style="color:aliceblue"></i></a>
      <a href="" class="navbar-brand" style="font-size:55px;"><div>Beta</div></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#me">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse offset-4" id="me">
               
        </div>
    </div>
  </nav>

  <div class="container" style="margin-top:130px">
      <mat-spinner style="top:30%;left:45%;position:absolute" *ngIf="wait"></mat-spinner>
      <form #myform="ngForm" (ngSubmit)="submit(myform)">

          <mat-form-field>
              <input matInput placeholder="Email" type="email" required name="email"[(ngModel)]="email">
            </mat-form-field><br>
            <div style="font-size: 14px;font-weight: bold;">Your confirmation link will be sent to your email address</div>
            <button mat-raised-button type="submit" style="color:#2AB967" [disabled]="!myform.form.valid" style="width:80%">Send</button>
            
    </form>
  </div>
