<nav style="background-color: #2AB967; " class="navbar fixed-top navbar-toggleable navbar-expand-sm navbar-inverse bg-#2AB967  navbar-success">
    <!-- Brand -->
    
    <button class="btn btn-light"><i class="fa fa-align-justify fa-2x"></i></button>
    <a class="navbar-brand text-white " href="#" style="font-size:55px; "><div>Earning</div></a>
   
  </nav> 
  <div class="container-fluid body">            
      <table class="table  table-hover">
        <tbody>
          <tr>
            <td>Current Earning</td>
            <td>#40000</td>
          </tr>
          <tr>
            <td>Active Order</td>
            <td>#12900</td>
          </tr>
          <tr>
            <td>Pending Order</td>
            <td>#2300</td>
          </tr>
          <tr>
              <td>Cancelled Order</td>
              <td>#2300</td>
            </tr>
        </tbody>
      </table>
    </div>
   